{"openapi":"3.0.2","info":{"title":"Unified SAFIS API -Test","version":"1.0.10","description":"**Overview**\n\nThis API is used by remote applications   to communicate with the SAFIS backend database server. It is not intended for any other purpose, for example it  does not supply a web-page interface. This document is intended as a programmer’s reference manual. It is used by both application developers who build a front-end, and the programmers who maintain this   API back-end. \n\nTo request an API key, please contact support@accsp.org. \n","x-logo":{"url":"https://safis.accsp.org/i192/accsp/accsp_basic_logo.png"},"license":null,"contact":null},"servers":[{"url":"https://safis.accsp.org/safis_test/safist/api","description":""}],"paths":{"/favorites_download":{"post":{"parameters":[{"$ref":"#/components/parameters/Confidential Auth","name":"Authorization"}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"favorites_download ","description":"call to download a users stored favorites on eTrips online","tags":["eTrips"]}},"/lookup_list":{"post":{"requestBody":{"$ref":"#/components/requestBodies/lookup_list_body"},"tags":["eTrips","eDR"],"parameters":[{"$ref":"#/components/parameters/Non-Confidential","name":"Authorization"}],"responses":{"successful upload response":{"content":{"application/json":{"example":{"row":[],"status":"OK","description":"row(s) returned"}}},"description":"success","type":""}},"summary":"lookup_list ","description":"","externalDocs":{"url":""}}},"/lookup_list_by_attribute":{"post":{"parameters":[{"$ref":"#/components/parameters/Non-Confidential","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"lookup_list_by_attribute ","description":"","tags":["eTrips"]}},"/lookup_list_date_changed":{"post":{"parameters":[{"$ref":"#/components/parameters/Non-Confidential","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"lookup_list_date_changed ","description":"","tags":["eTrips","eDR"]}},"/neg_reports_upload":{"post":{"parameters":[{"$ref":"#/components/parameters/Confidential Auth","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_reports_upload ","description":"","tags":["eDR"]}},"/neg_reports_upload_errors":{"post":{"parameters":[{"$ref":"#/components/parameters/Confidential Auth","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_reports_upload_errors ","description":"","tags":["eDR"]}},"/neg_trips_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_trips_upload ","description":"","tags":["eTrips"]}},"/neg_trips_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_trips_upload_errors ","description":"","tags":["eTrips"]}},"/notification_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"notification_upload ","description":"","tags":["eTrips"]}},"/participants":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"participants ","description":"","tags":["eTrips"]}},"/permit_compliance":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"permit_compliance ","description":"","tags":["eDR"]}},"/permit_endorsements":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"permit_endorsements ","description":"","tags":["eDR"]}},"/reports_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"reports_upload ","description":"","tags":["eDR"]}},"/reports_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"reports_upload_errors ","description":"","tags":["eDR"]}},"/trip_locations":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trip_locations ","description":"","tags":["eTrips"]}},"/trips_download":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trips_download ","description":"","tags":["eTrips"]}},"/trips_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true},{"name":"AppVersion","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trips_upload ","description":"send a set of trips rows to safis","tags":["eTrips"]}},"/trips_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trips_upload_errors","description":"","tags":["eTrips"]}},"/user_permits":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"user_permits","description":"This call retrieves a list of dealer permits for the logged in user with a valid username, password and API key.","tags":["eTrips","eDR"]}}},"components":{"responses":{"200":{"content":{"application/json":{"schema":{"required":["row","status","description"],"enum":[],"type":"object","example":{"row":[],"status":"OK","description":"rows returned"}},"example":{"row":[],"status":"OK","description":"rows returned"},"properties":"","type":"object","enum":[],"required":["row","status","description"]}},"description":"successful_upload"}},"parameters":{"Confidential Auth":{"deprecated":false,"example":"Basic dXNlcm5hbWVAbXlhcGlrZXk6cGFzc3dvcmQ=","description":"\n","schema":{"format":"the base64 representation of  username@apikey:password","pattern":"","enum":[],"type":"string","example":"Basic dXNlcm5hbWVAbXlhcGlrZXk6cGFzc3dvcmQ="},"in":"header","required":true,"properties":"","type":"string","format":"the base64 representation of  username@apikey:password","pattern":"","enum":[]},"Non-Confidential":{"deprecated":false,"example":"Basic QGFwaWtleQ==","name":"","description":"the base64 value of @apikey","in":"header","required":true}},"requestBodies":{"lookup_list_body":{"description":"Fetch a list of valid values for a specified list noted in p_listname above. Returned as a JSON encoded object. If no rows exist, there will be no data, and status record will indicate zero errors","content":{"application/json":{"schema":{"example":{"p_partner":"0023","p_listname":"GEARS","p_listtype":"EDR","p_lastdate":"12/27/2010 14:45:00 "}},"example":{"p_partner":"0023","p_listname":"GEARS","p_listtype":"EDR","p_lastdate":"12/27/2010 14:45:00 "},"properties":""}},"required":true}},"securitySchemes":{"Confidential API ":{"scheme":"Basic","bearerFormat":"","type":"http","description":"username@apikey:password"},"Non-Confidential":{"scheme":"Basic","bearerFormat":"","type":"http","description":"@apikey"}},"schemas":{}},"tags":[{"name":"eTrips","description":"eTrips","externalDocs":{}},{"name":"eDR","description":"eDR","externalDocs":{}}],"responses":{},"security":[],"externalDocs":null}