{"openapi":"3.0.2","info":{"title":"Unified SAFIS API -Test","version":"1.0.4","description":"the standard SAFIS API","x-logo":{"url":"https://safis.accsp.org/i192/accsp/accsp_basic_logo.png"},"license":null,"contact":null},"servers":[{"url":"https://safis.accsp.org/safis_test/safist/api","description":""}],"paths":{"/favorites_download":{"post":{"parameters":[{"$ref":"#/components/schemas/lookup_schema","name":"lookup format"}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"favorites_download ","description":"call to download a users stored favorites on eTrips online"}},"/lookup_list":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"lookup_list ","description":""}},"/lookup_list_by_attribute":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"lookup_list_by_attribute ","description":""}},"/lookup_list_date_changed":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"lookup_list_date_changed ","description":""}},"/neg_reports_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_reports_upload ","description":""}},"/neg_reports_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_reports_upload_errors ","description":""}},"/neg_trips_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_trips_upload ","description":""}},"/neg_trips_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_trips_upload_errors ","description":""}},"/notification_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"notification_upload ","description":""}},"/participants":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"participants ","description":""}},"/permit_compliance":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"permit_compliance ","description":""}},"/permit_endorsements":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"permit_endorsements ","description":""}},"/reports_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"reports_upload ","description":""}},"/reports_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"reports_upload_errors ","description":""}},"/trip_locations":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trip_locations ","description":""}},"/trips_download":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trips_download ","description":""}},"/trips_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true},{"name":"AppVersion","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trips_upload ","description":"send a set of trips rows to safis"}},"/trips_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trips_upload_errors","description":""}},"/user_permits":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"user_permits","description":"This call retrieves a list of dealer permits for the logged in user with a valid username, password and API key."}}},"components":{"schemas":{"lookup_schema":{"required":["p_partner","p_listname"],"enum":[],"type":"object","example":{"p_partner":"  0023","p_listname":"  GEARS","p_listtype":"  EDR","p_lastdate":"12/27/2010 14:45:00 "}}},"requestBodies":{"lookup_list body":{"description":"Fetch a list of valid values for a specified list noted in p_listname above. Returned as a JSON encoded object. If no rows exist, there will be no data, and status record will indicate zero errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/lookup_schema"},"example":"","properties":""}},"required":true}},"securitySchemes":{"Confidential API ":{"scheme":"Basic","bearerFormat":"","type":"http","description":"username@apikey:password"},"Non-Confidential":{"scheme":"Basic","bearerFormat":"","type":"http","description":"@apikey"}},"responses":{},"parameters":{}},"tags":[],"security":[],"externalDocs":null}