{
    "openapi": "3.0.2",
    "info": {
        "title": "Unified SAFIS API -Test",
        "version": "1.0.44",
        "description": "**Overview**\n\nThis API is used by remote applications   to communicate with the SAFIS backend database server. It is not intended for any other purpose. This document is intended as a programmer’s reference manual. It is used by both application developers who build a front-end, and the programmers who maintain this   API back-end. \n\nTo request an API key, please contact us. \n",
        "contact": {
            "email": "support@accsp.org"
        },
        "x-logo": {
            "url": "https://raw.githubusercontent.com/accsp-software/spec-unified-api-test/master/docs/accsp_logo.jpg"
        }
    },
    "servers": [
        {
            "url": "https://safis.accsp.org/safis_test/safist/api",
            "description": ""
        }
    ],
    "paths": {
        "/user_permits": {
            "post": {
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/user_permits_request"
                            },
                            "examples": {
                                "fisher_permit_request": {
                                    "value": {
                                        "p_usertype": "FISHER"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips",
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/user_permits_response"
                                },
                                "examples": {
                                    "2_license_example": {
                                        "value": {
                                            "row": [
                                                {
                                                    "license_nbr": "MAFISHER",
                                                    "license_type": "Commercial Fisher",
                                                    "permit_type": "Commercial",
                                                    "agency": "0003",
                                                    "in_use": "Y"
                                                },
                                                {
                                                    "license_nbr": "MAFISHER2",
                                                    "license_type": "For-hire",
                                                    "permit_type": "For-Hire",
                                                    "agency": "0003",
                                                    "in_use": "Y"
                                                }
                                            ],
                                            "status": "OK",
                                            "description": "User: Active Permit Count:0"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "successful response"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "user_permits",
                "description": "This call retrieves a list of fisher or dealer permits for the logged in user with a valid username, password and API key."
            }
        },
        "/trips_download": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/trips_download_request"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/trips_download_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "summary": "trips_download",
                "description": "retrieve set of trips rows from safis. \nA list of trips is requested from the SAFIS system within the upper and lower limits of the start and end dates (inclusive) . This list will only contain successfully uploaded trips and will be sent to same format as the trips_upload call. "
            }
        },
        "/favorites_download": {
            "post": {
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "favorites_download",
                "description": "call to download a users stored favorites on eTrips online"
            }
        },
        "/lookup_list_date_changed": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/lookup_list_date_changed_request"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips",
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lookup_list_date_changed_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Non-Confidential": [
                        ]
                    }
                ],
                "summary": "lookup_list_date_changed",
                "description": "fetch the last date that the specified lookup table(s) were changed."
            }
        },
        "/neg_reports_upload": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/neg_dealer_reports"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/neg_dealer_reports_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "neg_reports_upload ",
                "description": "Send a set of negative dealer reports to safis. They can be sent as single records (with no end date). Or as a range (including an end date)"
            }
        },
        "/neg_reports_upload_errors": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/event_id"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/neg_dealer_reports_error_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "neg_reports_upload_errors ",
                "description": "Fetch a list of errors from a neg_reports_upload attempt that did not load. "
            }
        },
        "/neg_trips_upload_errors": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/event_id"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/neg_trips_error_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "neg_trips_upload_errors ",
                "description": "fetch a list of errors from negative/did not fish reports that didn’t load after calling neg_trips_upload."
            }
        },
        "/notification_upload": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/notification_upload_request"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "notification_upload",
                "description": ""
            }
        },
        "/participants": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/participants"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/participants_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "participants ",
                "description": "Check for/update users with the given information.\nThis call retrieves a list of participants in the SAFIS system with the supplier user identifiable information. \n"
            }
        },
        "/permit_compliance": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/permit_compliance_request"
                            }
                        }
                    }
                },
                "tags": [
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/permit_compliance_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "permit_compliance ",
                "description": "checks the current compliance status of a dealer permit"
            }
        },
        "/permit_endorsements": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/permit_endorsements_request"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/permit_endorsements_responses"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "permit_endorsements ",
                "description": "fetch a list of endorsements for a given a partner"
            }
        },
        "/reports_upload": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/dealer_reports_upload_request"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dealer_reports_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "reports_upload ",
                "description": "Upload an array of dealer reports including associated landings "
            }
        },
        "/reports_upload_errors": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/event_id"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dealer_reports_error_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "reports_upload_errors ",
                "description": "Fetch a list of errors from a dealer reports_upload attempt that did not load. "
            }
        },
        "/trips_upload": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/trips"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips"
                ],
                "parameters": [
                    {
                        "deprecated": false,
                        "example": "AppVersion : 2.2.11232",
                        "name": "AppVersion",
                        "schema": {
                            "type": "string"
                        },
                        "in": "header",
                        "required": true,
                        "x-last-modified": 1589300119228
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/trip_upload_response"
                                }
                            }
                        },
                        "description": "successful upload attempt"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "trips_upload ",
                "description": "send a set of trips rows to safis"
            }
        },
        "/trips_upload_errors": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/event_id"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/trip_upload_error_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "trips_upload_errors",
                "description": "fetch a list of errors from trip rows that did not load. Should be called after trips_upload call if one or moreerrored records are indicated"
            }
        },
        "/neg_trips_upload": {
            "summary": "send a set of negative / no fishing trip reports to safis",
            "description": "",
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/neg_trips"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/neg_trips_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "neg_trips_upload ",
                "description": "send a set of negative / no fishing trip reports to safis."
            }
        },
        "/trip_locations": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/locations"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/trip_locations_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "trip_locations",
                "description": "send a set of trip location data rows to safis"
            }
        },
        "/lookup_list_by_attribute": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/lookup_list_attribute_request"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lookup_list_attribute_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Non-Confidential": [
                        ]
                    }
                ],
                "summary": "lookup_list_by_attribute",
                "description": "fetch a set of rows for specified attribute lookup list. Used in combination with _additional_attributes lookup_list"
            }
        },
        "/lookup_list": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/lookup_list_request"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips",
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lookup_list_responses"
                                }
                            }
                        },
                        "description": "Successful Response"
                    }
                },
                "security": [
                    {
                        "Non-Confidential": [
                        ]
                    }
                ],
                "summary": "lookup_list",
                "description": "fetch a set of rows for a specified lookup table"
            }
        }
    },
    "components": {
        "schemas": {
            "trip": {
                "description": "trip level information. Either of state_reg_nbr or coast_guard_nbr is required. ",
                "required": [
                    "trip_start_date",
                    "trip_type",
                    "cf_license_nbr",
                    "port",
                    "iss_agency",
                    "supplier_trip_id"
                ],
                "enum": [
                ],
                "type": "object",
                "properties": {
                    "trip_start_date": {
                        "format": "date",
                        "description": "calendar date of beginning of fishing trip. Format MM/DD/YYYY",
                        "type": "string"
                    },
                    "trip_type": {
                        "description": "Trip Type undertaken. Commercial (C), Recreational (R), For Hire-Charter(A), For Hire-Headboat (H)",
                        "enum": [
                            "C",
                            "R",
                            "A",
                            "H"
                        ],
                        "type": "string"
                    },
                    "trip_start_time": {
                        "description": "calendar time of start of fishing trip. Format hh24:mi",
                        "type": "string"
                    },
                    "trip_end_time": {
                        "description": "calendar time of end of fishing trip. Format MM/DD/YYYY",
                        "type": "string"
                    },
                    "vessel_permit": {
                        "description": "Vessel Permit number of vessel in use",
                        "type": "string"
                    },
                    "vtr_number": {
                        "description": "Vessel Trip Report number. Auto-generated by the application",
                        "type": "string"
                    },
                    "trip_activity": {
                        "description": "Indicator for intended/final outcome of fishing trip",
                        "type": "string"
                    },
                    "state_reg_nbr": {
                        "description": "State Registration number of vessel",
                        "type": "string"
                    },
                    "coast_guard_nbr": {
                        "description": "Coast Guard Number/Hull Number of vessel",
                        "type": "string"
                    },
                    "port": {
                        "description": "Landing Port of vessel",
                        "type": "string"
                    },
                    "supplier_trip_id": {
                        "description": "unique trip id given by the caller. Only used to communicate errors and updates.",
                        "type": "string"
                    },
                    "participant_id": {
                        "description": "ACCSP Participant idenitifier.",
                        "type": "string"
                    },
                    "iss_agency": {
                        "description": "4 character identifier of issuing agency of permit in use",
                        "type": "string"
                    },
                    "cf_license_nbr": {
                        "description": "Permit/License Number of Permit in use.",
                        "type": "string"
                    },
                    "efforts": {
                        "description": "",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/effort"
                        }
                    },
                    "trip_additional_attributes": {
                        "description": "",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/attribute"
                        }
                    }
                }
            },
            "trip_upload_response": {
                "description": "response to successful trips_upload call. ",
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "required": [
                            ],
                            "type": "object",
                            "properties": {
                                "event_id": {
                                    "description": "unique ID of this upload process",
                                    "type": "string"
                                },
                                "upload_date": {
                                    "description": "date the upload was received by server. Format MM/DD/YYYY hh24:mi",
                                    "type": "string"
                                },
                                "process_date": {
                                    "description": "date the server completed processing upload request. Format MM/DD/YYYY hh24:mi",
                                    "type": "string"
                                },
                                "total_count": {
                                    "description": "Number of trips found in the upload",
                                    "type": "string"
                                },
                                "errored_count": {
                                    "description": "Number of trips NOT processed due to one or more errors",
                                    "type": "string"
                                },
                                "trips_accepted": {
                                    "description": "details for accepted trips",
                                    "type": "array",
                                    "items": {
                                        "required": [
                                        ],
                                        "type": "object",
                                        "properties": {
                                            "supplier_trip_id": {
                                                "description": "unique supplier id for supplied to the upload",
                                                "type": "string"
                                            },
                                            "accsp_trip_id": {
                                                "description": "accsp internal identifier for this matching the supplier trip id",
                                                "type": "number"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the upload attempt",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "description": "Human readable description of the status reason or failure.",
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "event_id": "121582",
                            "upload_date": "2018-08-30 12:56:28",
                            "process_date": "12:56:32",
                            "total_count": "2",
                            "errored_count": "0",
                            "trips_accepted": [
                                {
                                    "supplier_trip_id": "0192929",
                                    "accsp_trip_id": 1231213
                                },
                                {
                                    "supplier_trip_id": "0141229",
                                    "accsp_trip_id": 1211213
                                }
                            ]
                        }
                    ],
                    "status": "OK",
                    "description": "UPDATE EVENTS UPLOAD"
                }
            },
            "user_permits_request": {
                "title": "Root Type for user_permits_request",
                "description": "",
                "required": [
                    "p_usertype"
                ],
                "type": "object",
                "properties": {
                    "p_usertype": {
                        "enum": [
                            "FISHER",
                            "DEALER"
                        ],
                        "type": "string"
                    }
                },
                "example": {
                    "p_usertype": "FISHER"
                }
            },
            "trips": {
                "description": "collection of trip objects. ",
                "required": [
                    "trips"
                ],
                "type": "object",
                "properties": {
                    "trips": {
                        "description": "collection of trips",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/trip"
                        }
                    }
                }
            },
            "effort": {
                "title": "Root Type for effort",
                "description": "",
                "required": [
                    "distance",
                    "in_state",
                    "area_code",
                    "sub_area_code",
                    "gear",
                    "gear_quantity",
                    "fishing_hours"
                ],
                "type": "object",
                "properties": {
                    "distance": {
                        "description": "distance code of fishing location.",
                        "type": "string"
                    },
                    "in_state": {
                        "type": "string"
                    },
                    "area_code": {
                        "description": "3 character area-code for effort location",
                        "type": "string"
                    },
                    "sub_area_code": {
                        "description": "sub area code of fishing location.",
                        "type": "string"
                    },
                    "local_area_code": {
                        "type": "string"
                    },
                    "latitude": {
                        "type": "string"
                    },
                    "longitude": {
                        "type": "string"
                    },
                    "gear": {
                        "description": "gear used in this effort",
                        "type": "string"
                    },
                    "lma": {
                        "type": "string"
                    },
                    "gear_quantity": {
                        "type": "string"
                    },
                    "gear_sets": {
                        "type": "string"
                    },
                    "fishing_hours": {
                        "description": "amount of fishing time",
                        "type": "string"
                    },
                    "hours_days": {
                        "type": "string"
                    },
                    "total_gear": {
                        "type": "string"
                    },
                    "gear_size": {
                        "type": "string"
                    },
                    "mesh_ring_length": {
                        "type": "string"
                    },
                    "mesh_ring_width": {
                        "type": "string"
                    },
                    "stretch_size": {
                        "type": "string"
                    },
                    "target_species": {
                        "description": "Species you intend to catch",
                        "type": "string"
                    },
                    "avg_depth": {
                        "description": "Average fishing depth",
                        "type": "string"
                    },
                    "supplier_effort_id": {
                        "description": "unique identifier of effort. Used to communicate back errors and for updates",
                        "type": "string"
                    },
                    "catches": {
                        "description": "collection of catches made with this effort",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/catch"
                        }
                    },
                    "gear_attributes": {
                        "description": "",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/attribute_with_units"
                        }
                    },
                    "effort_additional_attributes": {
                        "description": "additional attributes tied to effort",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/attribute_multi_value"
                        }
                    }
                },
                "example": {
                    "distance": "1",
                    "in_state": "RI",
                    "area_code": "539",
                    "sub_area_code": "0132",
                    "local_area_code": "00",
                    "latitude": "41.4450635115479",
                    "longitude": "-71.3559923529778",
                    "gear": "300",
                    "lma": "",
                    "gear_quantity": "16",
                    "gear_sets": "23",
                    "fishing_hours": "6.0",
                    "hours_days": "H",
                    "total_gear": "0",
                    "gear_size": "",
                    "mesh_ring_length": "",
                    "mesh_ring_width": "",
                    "stretch_size": "",
                    "target_species": "",
                    "avg_depth": "55",
                    "supplier_effort_id": "120119073102827"
                }
            },
            "catch": {
                "title": "Root Type for catch",
                "description": "",
                "required": [
                    "disposition",
                    "species_itis",
                    "supplier_catch_id",
                    "unit_of_measure",
                    "reported_quantity"
                ],
                "type": "object",
                "properties": {
                    "species_itis": {
                        "description": "ITIS code of the fish caught",
                        "type": "string"
                    },
                    "disposition": {
                        "description": "the final disposition of the catch made",
                        "type": "string"
                    },
                    "unit_of_measure": {
                        "description": "Code for unit of measure used to reference the reported_quantity field",
                        "type": "string"
                    },
                    "market_code": {
                        "description": "catch market code",
                        "type": "string"
                    },
                    "grade_code": {
                        "description": "catch grade code",
                        "type": "string"
                    },
                    "reported_quantity": {
                        "description": "numeric quantity of fish caught. Always used in conjunction with unit_of_measure field. ",
                        "type": "string"
                    },
                    "nbr_of_fish": {
                        "description": "Count of fish caught",
                        "type": "string"
                    },
                    "supplier_catch_id": {
                        "description": "unique identifier for the catch given. used to communicate back catch-level errors. ",
                        "type": "string"
                    },
                    "sale_disposition_flag": {
                        "description": "",
                        "type": "string"
                    },
                    "catch_additional_attributes": {
                        "description": "additional attributes tied to the catch",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/attribute"
                        }
                    },
                    "species_attributes": {
                        "description": "attributes tied to a specific species.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/attribute"
                        }
                    }
                },
                "example": {
                    "species_itis": "170425",
                    "disposition": "001",
                    "unit_of_measure": "LB",
                    "market_code": "UN",
                    "grade_code": "01",
                    "reported_quantity": "25",
                    "nbr_of_fish": "4",
                    "supplier_catch_id": "6"
                }
            },
            "attribute": {
                "title": "Root Type for attribute",
                "description": "",
                "required": [
                    "code"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    }
                },
                "example": {
                    "code": "040",
                    "value": "Y"
                }
            },
            "attribute_with_units": {
                "title": "Root Type for attribute_with_units",
                "description": "",
                "required": [
                    "code"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    },
                    "units": {
                        "type": "string"
                    }
                },
                "example": {
                    "code": "231",
                    "value": "1233",
                    "units": "CM"
                }
            },
            "attribute_multi_value": {
                "title": "Root Type for attribute_multi_value",
                "description": "",
                "required": [
                    "code"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    },
                    "values": {
                        "description": "only used when attribute allows multiple values to be selected",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "units": {
                        "type": "string"
                    }
                },
                "example": {
                    "code": "231",
                    "value": "1233",
                    "values": [
                        "21312",
                        "231231"
                    ],
                    "units": "CM"
                }
            },
            "neg_trip": {
                "title": "Root Type for neg_trip",
                "description": "no-fishing report/negative trip",
                "required": [
                    "cf_license_nbr",
                    "start_date",
                    "supplier_row_id",
                    "iss_agency"
                ],
                "type": "object",
                "properties": {
                    "supplier_row_id": {
                        "description": "unique identifier given by sender. Useful for updating information and retrieving errors. ",
                        "type": "string"
                    },
                    "iss_agency": {
                        "description": "4 digit identification of the issuing agency of permit",
                        "type": "string"
                    },
                    "start_date": {
                        "format": "date",
                        "description": "start date of the negative/no fishing report",
                        "type": "string"
                    },
                    "end_date": {
                        "format": "date",
                        "description": "last date of negative report if a range is being given",
                        "type": "string"
                    },
                    "cf_license_nbr": {
                        "description": "license number given by issuing agency",
                        "type": "string"
                    }
                },
                "example": {
                    "supplier_row_id": "1231231",
                    "iss_agency": "0003",
                    "start_date": "11/22/2015",
                    "end_date": "11/22/2015",
                    "cf_license_nbr": "999999"
                }
            },
            "neg_trips": {
                "description": "An Array of negative trips.",
                "required": [
                    "neg_trips"
                ],
                "type": "object",
                "properties": {
                    "neg_trips": {
                        "description": "Collection of negative trip reports",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/neg_trip"
                        }
                    }
                },
                "example": {
                    "neg_trips": [
                        {
                            "supplier_row_id": "12345611",
                            "iss_agency": "0004",
                            "start_date": "11/22/2017",
                            "end_date": "11/22/2017",
                            "cf_license_nbr": "123456"
                        },
                        {
                            "supplier_row_id": "12345612",
                            "iss_agency": "0004",
                            "start_date": "11/23/2017",
                            "end_date": "11/23/2017",
                            "cf_license_nbr": "123456"
                        }
                    ]
                }
            },
            "neg_trips_response": {
                "title": "Root Type for neg_trips_response",
                "description": "",
                "required": [
                    "status"
                ],
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "event_id": {
                                    "description": "the unique job-id/event_id for this upload assigned by the system",
                                    "type": "string"
                                },
                                "upload_date": {
                                    "format": "date-time",
                                    "description": "when the upload was received",
                                    "type": "string"
                                },
                                "process_date": {
                                    "description": "When the upload was processed.",
                                    "type": "string"
                                },
                                "total_count": {
                                    "description": "total count of neg trip records received.",
                                    "type": "string"
                                },
                                "errored_count": {
                                    "description": "total count of neg trip records that were not processed due to one or more errors.",
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the upload attempt",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "description": "Human readable description of the status reason or failure",
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "event_id": "765841",
                            "upload_date": "2020-04-16 15:12:14",
                            "process_date": "15:12:15",
                            "total_count": "2",
                            "errored_count": "1"
                        }
                    ],
                    "status": "OK",
                    "description": "Total rows inserted 2"
                }
            },
            "lookup_list_responses": {
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/gears_list_response"
                    },
                    {
                        "$ref": "#/components/schemas/attributes_list_response"
                    },
                    {
                        "$ref": "#/components/schemas/gear_attributes_response"
                    },
                    {
                        "$ref": "#/components/schemas/disposition_response"
                    }
                ],
                "description": "",
                "type": "object"
            },
            "location": {
                "title": "Root Type for location",
                "description": "single location",
                "required": [
                    "latitude",
                    "longitude",
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "latitude": {
                        "description": "latitude in decimal degrees",
                        "type": "string"
                    },
                    "longitude": {
                        "description": "longitude in decimal degrees",
                        "type": "string"
                    },
                    "timestamp": {
                        "format": "date-time",
                        "description": "timestamp in format: YYYYMMDDhh24miss",
                        "type": "string"
                    }
                },
                "example": {
                    "latitude": "43.31238",
                    "longitude": "-70.11428",
                    "timestamp": "20191225131755"
                }
            },
            "locations": {
                "title": "Root Type for locations",
                "description": "",
                "required": [
                    "p_supplier_trip_id",
                    "locations"
                ],
                "type": "object",
                "properties": {
                    "p_supplier_trip_id": {
                        "description": "unique trip id given by the requesting entity",
                        "type": "string"
                    },
                    "p_trip_id": {
                        "description": "ACCSP trip id IF known. ",
                        "type": "string"
                    },
                    "p_vendor_id": {
                        "description": "vendor id of the device sending records",
                        "type": "string"
                    },
                    "p_vessel_cgn": {
                        "description": "US Coast Guard Number/Hull Nmber",
                        "type": "string"
                    },
                    "locations": {
                        "description": "",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/location"
                        }
                    }
                },
                "example": {
                    "p_supplier_trip_id": "55590000003",
                    "p_trip_id": "900000003",
                    "p_vendor_id": "1233345",
                    "p_vessel_cgn": "MS4564AX",
                    "locations": [
                        {
                            "latitude": "43.31238",
                            "longitude": "-70.11428",
                            "timestamp": "20191225131755"
                        },
                        {
                            "latitude": "42.32238",
                            "longitude": "-70.11628",
                            "timestamp": "20191225131845"
                        }
                    ]
                }
            },
            "trip_locations_response": {
                "title": "Root Type for trip_locations_response",
                "description": "",
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "trip_id": {
                                    "description": "ACCSP Trip id of the record that was matched.",
                                    "type": "string"
                                },
                                "supplier_trip_id": {
                                    "description": "Associated supplier_trip that was given in the request.",
                                    "type": "string"
                                },
                                "upload_date": {
                                    "format": "date-time",
                                    "description": "date of upload request.",
                                    "type": "string"
                                },
                                "total_count": {
                                    "description": "Total number of location records that were passed into the upload.",
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the upload attempt",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "description": "Human readable description of the status reason or failure.",
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "trip_id": "900000003",
                            "supplier_trip_id": "55590000003",
                            "upload_date": "2019-12-06 10:25:03",
                            "total_count": "3"
                        }
                    ],
                    "status": "OK",
                    "description": "Total rows inserted 3"
                }
            },
            "lookup_list_attribute_request": {
                "title": "Root Type for lookup_list_attribute_request",
                "description": "",
                "required": [
                    "p_attribute",
                    "p_partner"
                ],
                "type": "object",
                "properties": {
                    "p_partner": {
                        "description": "4 character issuing agency of the attributes list",
                        "type": "string"
                    },
                    "p_attribute": {
                        "description": "attribute code corresponding to attribute_code given by lookup_list",
                        "type": "string"
                    },
                    "p_lastdate": {
                        "format": "date-time",
                        "description": "the earliest date filter for the list request. Format MM/DD/YYYY hh24:mi:ss",
                        "type": "string"
                    }
                },
                "example": {
                    "p_partner": "0018",
                    "p_attribute": "403",
                    "p_lastdate": "12/27/2010 14:45:00 "
                }
            },
            "lookup_list_attribute_response": {
                "title": "Root Type for lookup_list_attribute_response",
                "description": "",
                "required": [
                    "status"
                ],
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "description": "return value for this element",
                                    "type": "string"
                                },
                                "desc": {
                                    "description": "display value of element",
                                    "type": "string"
                                },
                                "comm_flag": {
                                    "description": "indicator flag for whether element is needed for Commercial Trip.",
                                    "type": "string"
                                },
                                "for_hire_charter_flag": {
                                    "description": "indicator flag for whether element is needed for For-Hire Charter Trip.",
                                    "type": "string"
                                },
                                "for_hire_hb_flag": {
                                    "description": "indicator flag for whether element is needed for For-Hire Headboat Trip.",
                                    "type": "string"
                                },
                                "rec_flag": {
                                    "description": "indicator flag for whether element is needed for Recreational Trip.",
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the upload attempt",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "description": "Human readable description of the status reason or failure.",
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "code": "031",
                            "desc": "PURSE SEINE, TARP",
                            "comm_flag": "R",
                            "for_hire_charter_flag": "N",
                            "for_hire_hb_flag": "N",
                            "rec_flag": "N"
                        },
                        {
                            "code": "093",
                            "desc": "OTTER TRAWL BOTTOM, LOBSTER",
                            "comm_flag": "Y",
                            "for_hire_charter_flag": "N",
                            "for_hire_hb_flag": "N",
                            "rec_flag": "N"
                        }
                    ],
                    "status": "OK",
                    "description": "Attribute(s) Found"
                }
            },
            "lookup_list_date_changed_request": {
                "title": "Root Type for lookup_list_date_changed_request",
                "description": "",
                "required": [
                    "p_listnames",
                    "p_partner"
                ],
                "type": "object",
                "properties": {
                    "p_partner": {
                        "description": "4 character value of permit issuing agency\n",
                        "type": "string"
                    },
                    "p_listnames": {
                        "description": "One or more list names from:\n\nGEARS,\nGEAR_ATTRIBUTES,\nTRIP_ADDITIONAL_ATTRIBUTES,\nEFFORT_ADDITIONAL_ATTRIBUTES, \nPARTNER_MANAGED_SPECIES, \nDISPOSITION, \nAREASFISHED, \nSPECIES, \nCATCH_SOURCE, \nUSER_NOTIFICATIONS, \nPARTICIPANTS, \nVESSELS,\nSWIPE_CARDS, \nTRIP_ACTIVITY, \nPORTS , \nDEALERS, \nPARTNER_MANAGED_NOTIFICATIONS, \nSALE_DISPOSITIONS_ADDITIONAL_ATTRIBUTES\n",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "example": {
                    "p_partner": "0023",
                    "p_listnames": [
                        "GEARS",
                        "VESSELS",
                        "GEAR_ATTRIBUTES",
                        "TRIP_ADDITIONAL_ATTRIBUTES",
                        "EFFORT_ADDITIONAL_ATTRIBUTES"
                    ]
                }
            },
            "lookup_list_date_changed_response": {
                "title": "Root Type for lookup_list_date_changed_response",
                "description": "",
                "required": [
                    "status"
                ],
                "type": "object",
                "properties": {
                    "row": {
                        "description": "lookup_lists requested",
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "list": {
                                    "description": "listname from p_listnames",
                                    "type": "string"
                                },
                                "last_date": {
                                    "format": "date",
                                    "description": "last modified date of requested list. Format MM/DD/YYYY hh24:mi:ss",
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the request",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "description": "Human readable description of the status reason or failure.",
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "list": "GEARS",
                            "last_date": "09/26/2018 16:55:04"
                        },
                        {
                            "list": "VESSELS",
                            "last_date": "09/01/2016 12:44:01"
                        }
                    ],
                    "status": "OK",
                    "description": "Date(s) Found"
                }
            },
            "event_id": {
                "title": "Root Type for event_id",
                "description": "",
                "required": [
                    "p_event_id"
                ],
                "type": "object",
                "properties": {
                    "p_event_id": {
                        "description": "Event id passed back by server in previous upload request. ",
                        "type": "string"
                    }
                },
                "example": {
                    "p_event_id": "54321"
                }
            },
            "trip_upload_error_response": {
                "title": "Root Type for trip_upload_error_response",
                "description": "",
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/trip_upload_error"
                        }
                    },
                    "status": {
                        "description": "status of the request attempt",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "description": "Human readable description of the status reason or failure.",
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                    ],
                    "status": "OK",
                    "description": "Total Errors 1"
                }
            },
            "trip_upload_error": {
                "title": "Root Type for trips_upload_error",
                "description": "",
                "required": [
                    "ERR_DESC"
                ],
                "type": "object",
                "properties": {
                    "ERR_DESC": {
                        "description": "Human readable description of error.",
                        "type": "string"
                    },
                    "SUPPLIER_TRIP_ID": {
                        "description": "supplier_trip_id of record with error. Only shown when error is at trip level. ",
                        "type": "string"
                    },
                    "SUPPLIER_EFFORT_ID": {
                        "description": "supplier_effort_id of record with error. Only shown when error is at effort level. ",
                        "type": "string"
                    },
                    "SUPPLIER_CATCH_ID": {
                        "description": "supplier_catch_id of record with error. Only shown when error is at catch level. ",
                        "type": "string"
                    },
                    "EVENT_ID": {
                        "description": "the event id of error returned. ",
                        "type": "string"
                    }
                },
                "example": {
                    "ERR_DESC": "Date Sold is not in the correct format (MM/DD/YYYY)",
                    "SUPPLIER_TRIP_ID": "052620093047881",
                    "SUPPLIER_EFFORT_ID": "052620093047882",
                    "SUPPLIER_CATCH_ID": "052620093047883",
                    "EVENT_ID": "807053"
                }
            },
            "lookup_list_request": {
                "title": "Root Type for lookup_list_request",
                "description": "",
                "required": [
                    "p_listname",
                    "p_partner"
                ],
                "type": "object",
                "properties": {
                    "p_partner": {
                        "description": "4 character value of permit issuing agency",
                        "type": "string"
                    },
                    "p_listname": {
                        "description": "Lookup list name being requested",
                        "enum": [
                            "GEARS",
                            "GEAR_ATTRIBUTES",
                            "TRIP_ADDITIONAL_ATTRIBUTES",
                            "EFFORT_ADDITIONAL_ATTRIBUTES",
                            "PARTNER_MANAGED_SPECIES",
                            "DISPOSITION",
                            "AREASFISHED",
                            "SPECIES",
                            "CATCH_SOURCE",
                            "USER_NOTIFICATIONS",
                            "PARTICIPANTS",
                            "VESSELS",
                            "SWIPE_CARDS",
                            "TRIP_ACTIVITY",
                            "PORTS",
                            "DEALERS",
                            "PARTNER_MANAGED_NOTIFICATIONS",
                            "SALE_DISPOSITIONS_ADDITIONAL_ATTRIBUTES"
                        ],
                        "type": "string"
                    },
                    "p_lastdate": {
                        "format": "date-time",
                        "description": "oldest date of changes requested. Format MM/DD/YYYY hh24:mi",
                        "type": "string"
                    }
                },
                "example": {
                    "p_partner": "0023",
                    "p_listname": "GEARS",
                    "p_listtype": "EDR",
                    "p_lastdate": "12/27/2010 14:45:00 "
                }
            },
            "participant": {
                "title": "Root Type for participant",
                "description": "",
                "required": [
                    "birth_date",
                    "first_name",
                    "last_name",
                    "supplier_user_id"
                ],
                "type": "object",
                "properties": {
                    "supplier_user_id": {
                        "description": "unique identifier for this user. Used to communicate back errors and for updates",
                        "type": "string"
                    },
                    "email": {
                        "description": "users valid email address",
                        "type": "string"
                    },
                    "first_name": {
                        "description": "user's legal first name",
                        "type": "string"
                    },
                    "last_name": {
                        "description": "users legal last name",
                        "type": "string"
                    },
                    "birth_date": {
                        "format": "date",
                        "description": "date of birth. Format MM/DD/YYYY",
                        "type": "string"
                    },
                    "iss_agency": {
                        "description": "4 character identification of license issuing agency",
                        "type": "string"
                    },
                    "license_nbr": {
                        "description": "license/permit number given by the issuing agency",
                        "type": "string"
                    },
                    "address_1": {
                        "description": "address line 1",
                        "type": "string"
                    },
                    "address_2": {
                        "description": "address line 2",
                        "type": "string"
                    },
                    "city": {
                        "description": "address city",
                        "type": "string"
                    },
                    "state": {
                        "description": "US State or Territory",
                        "type": "string"
                    },
                    "county": {
                        "description": "address county",
                        "type": "string"
                    },
                    "postal_code": {
                        "description": "US Postal Code",
                        "type": "string"
                    },
                    "phone_nbr": {
                        "description": "users 10 digit phone number",
                        "type": "string"
                    }
                },
                "example": {
                    "supplier_user_id": "1222",
                    "email": "testemail@example.com",
                    "first_name": "Jonas",
                    "last_name": "Brother",
                    "birth_date": "04/13/1980",
                    "iss_agency": "0018",
                    "license_nbr": "526783",
                    "address_1": "909 Georgia Ave",
                    "address_2": "Suite 100",
                    "city": "Silver Spring",
                    "state": "MD",
                    "county": "Montgomery",
                    "postal_code": "20910",
                    "phone_nbr": "5559900647"
                }
            },
            "participants": {
                "description": "",
                "required": [
                    "participants"
                ],
                "type": "object",
                "properties": {
                    "participants": {
                        "description": "",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/participant"
                        }
                    }
                }
            },
            "participants_response": {
                "title": "Root Type for participants_response",
                "description": "participants response combines succesful trip information and errors. ",
                "type": "object",
                "properties": {
                    "participants": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "supplier_user_id": {
                                    "description": "unique record id given in the payload.",
                                    "type": "string"
                                },
                                "safis_participant_id": {
                                    "format": "int32",
                                    "description": "SAFIS system participant id of the given user. Required in trips_upload API if downloading records without username.",
                                    "type": "integer"
                                },
                                "safis_license_nbr": {
                                    "description": "License Number stored in the SAFIS system for this user's record.",
                                    "type": "string"
                                },
                                "issuing_agency": {
                                    "description": "4 character id of license issuing agency.",
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "errors": {
                        "description": "all errors encountered in the upload attempt",
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "supplier_user_id": {
                                    "description": "unique record id given in the payload",
                                    "type": "string"
                                },
                                "messages": {
                                    "type": "array",
                                    "items": {
                                        "description": "individual error message descriptions",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the upload attempt",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "processed": {
                        "format": "int32",
                        "description": "number of participant records processed",
                        "type": "integer"
                    },
                    "description": {
                        "description": "human readable explanation of the request attempt result",
                        "type": "string"
                    }
                },
                "example": {
                    "participants": [
                        {
                            "supplier_user_id": "1111",
                            "safis_participant_id": 196973,
                            "safis_license_nbr": "1111",
                            "issuing_agency": "0018"
                        }
                    ],
                    "errors": [
                        {
                            "supplier_user_id": "1112",
                            "messages": [
                                "Phone Number is not in the right format",
                                "Birth Date Value is not valid."
                            ]
                        }
                    ],
                    "status": "OK",
                    "processed": 2,
                    "description": "Rows processed: 2 Event_id: 815428"
                }
            },
            "user_permits_response": {
                "description": "",
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "license_nbr": {
                                    "description": "Permit/License number given by the issuing agency",
                                    "type": "string"
                                },
                                "license_type": {
                                    "description": "License type as defined by the issuing agency",
                                    "type": "string"
                                },
                                "permit_type": {
                                    "description": "Permit type as defined by ACCSP.",
                                    "enum": [
                                        "For-Hire",
                                        "Commercial",
                                        "Operator",
                                        "Dealer"
                                    ],
                                    "type": "string"
                                },
                                "agency": {
                                    "description": "4 character issuing agency of permit",
                                    "type": "string"
                                },
                                "in_use": {
                                    "description": "Is the permit currently active?",
                                    "enum": [
                                        "Y",
                                        "N"
                                    ],
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the request attempt",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "description": "Human readable description of the status reason or failure.",
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "license_nbr": "MAFISHER",
                            "license_type": "Commercial Fisher",
                            "permit_type": "Commercial",
                            "agency": "0003",
                            "in_use": "Y"
                        },
                        {
                            "license_nbr": "MAFISHER2",
                            "license_type": "For-hire",
                            "permit_type": "For-Hire",
                            "agency": "0003",
                            "in_use": "Y"
                        }
                    ],
                    "status": "OK",
                    "description": "User: Active Permit Count:0"
                }
            },
            "partner_attribute": {
                "title": "Root Type for partner_attribute",
                "description": "",
                "type": "object",
                "properties": {
                    "element_id": {
                        "description": "element id ",
                        "type": "string"
                    },
                    "element_value": {
                        "description": "element value in string form",
                        "type": "string"
                    }
                },
                "example": {
                    "element_id": "400",
                    "element_value": "Y"
                }
            },
            "notification_upload_request": {
                "title": "Root Type for notification_upload_request",
                "description": "",
                "type": "object",
                "properties": {
                    "p_license_nbr": {
                        "type": "string"
                    },
                    "p_vessel_cgn": {
                        "type": "string"
                    },
                    "p_vessel_srn": {
                        "type": "string"
                    },
                    "p_trip_type": {
                        "type": "string"
                    },
                    "p_start_date": {
                        "format": "date",
                        "type": "string"
                    },
                    "p_start_time": {
                        "type": "string"
                    },
                    "p_departure_port": {
                        "type": "string"
                    },
                    "p_arrival_port": {
                        "type": "string"
                    },
                    "p_notif_type": {
                        "type": "string"
                    },
                    "partner_attributes": {
                        "description": "list of partner attributes",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/partner_attribute"
                        }
                    }
                },
                "example": {
                    "p_license_nbr": "991011",
                    "p_vessel_cgn": "",
                    "p_vessel_srn": "NH0258BA",
                    "p_trip_type": "C",
                    "p_start_date": "2010-05-30",
                    "p_start_time": "1845",
                    "p_departure_port": "224109",
                    "p_arrival_port": "222109",
                    "p_notif_type": "3"
                }
            },
            "gear_attributes_response": {
                "title": "GEAR_ATTRIBUTES",
                "description": "GEAR_ATTRIBUTES",
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "attribute_code": {
                                    "format": "int32",
                                    "description": "unique attribute code/id",
                                    "type": "integer"
                                },
                                "attribute_name": {
                                    "description": "name of the attribute",
                                    "type": "string"
                                },
                                "attribute_desc": {
                                    "description": "help text of the attribute",
                                    "type": "string"
                                },
                                "category_code": {
                                    "description": "category of the gear",
                                    "type": "string"
                                },
                                "gear_code": {
                                    "description": "gear code value to be returned where gear is requested.",
                                    "type": "string"
                                },
                                "options": {
                                    "description": "static list of options for this attribute",
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                },
                                "order_seq": {
                                    "format": "int32",
                                    "description": "numerical order of listing relative to other attributes",
                                    "type": "integer"
                                },
                                "comm_flag": {
                                    "description": "indicates if attribute is required (R), optional (Y) or Not displayed (N) in commercial trip",
                                    "enum": [
                                        "R",
                                        "Y",
                                        "N"
                                    ],
                                    "type": "string"
                                },
                                "for_hire_charter_flag": {
                                    "description": "indicates if attribute is required (R), optional (Y) or Not displayed (N) in for-hire charter trip",
                                    "enum": [
                                        "R",
                                        "Y",
                                        "N"
                                    ],
                                    "type": "string"
                                },
                                "for_hire_hb_flag": {
                                    "description": "indicates if attribute is required (R), optional (Y) or Not displayed (N) in for-hire headboat trip",
                                    "enum": [
                                        "R",
                                        "Y",
                                        "N"
                                    ],
                                    "type": "string"
                                },
                                "rec_flag": {
                                    "description": "indicates if attribute is required (R), optional (Y) or Not displayed (N) in recreational trip",
                                    "enum": [
                                        "R",
                                        "Y",
                                        "N"
                                    ],
                                    "type": "string"
                                },
                                "type": {
                                    "description": "format of the attribute",
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the request ",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "description": "human readable description of the result status",
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "attribute_code": 142,
                            "attribute_name": "Number of traps",
                            "attribute_desc": "Number of traps",
                            "category_code": "160",
                            "gear_code": "160",
                            "order_seq": 83,
                            "comm_flag": "R",
                            "for_hire_charter_flag": "N",
                            "for_hire_hb_flag": "N",
                            "rec_flag": "N",
                            "type": "NUMBER (38,0)"
                        },
                        {
                            "attribute_code": 1321,
                            "attribute_name": "LMA",
                            "attribute_desc": "Lobster Management Area",
                            "category_code": "160",
                            "gear_code": "160",
                            "options": [
                                {
                                    "1": "LMA 1"
                                },
                                {
                                    "2": "LMA 2"
                                },
                                {
                                    "3": "LMA 3"
                                },
                                {
                                    "4": "LMA 4"
                                },
                                {
                                    "5": "LMA 5"
                                },
                                {
                                    "6": "LMA 6"
                                },
                                {
                                    "O": "OCC"
                                }
                            ],
                            "order_seq": 25,
                            "comm_flag": "R",
                            "for_hire_charter_flag": "N",
                            "for_hire_hb_flag": "N",
                            "rec_flag": "N",
                            "type": "STRING"
                        }
                    ],
                    "status": "OK",
                    "description": "2 Gear Attribute(s) Returned"
                }
            },
            "gears_list_response": {
                "title": "GEARS",
                "description": "GEARS",
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "description": "gear code. Returned by the upload requests where gear is requested.",
                                    "type": "string"
                                },
                                "desc": {
                                    "description": "gear name.",
                                    "type": "string"
                                },
                                "category_code": {
                                    "description": "gear category code",
                                    "type": "string"
                                },
                                "category_name": {
                                    "description": "gear category description",
                                    "type": "string"
                                },
                                "comm_flag": {
                                    "description": "indicates if attribute is required (R), optional (Y) or Not displayed (N) in commercial trip",
                                    "enum": [
                                        "R",
                                        "Y",
                                        "N"
                                    ],
                                    "type": "string"
                                },
                                "for_hire_ch_flag": {
                                    "description": "indicates if attribute is required (R), optional (Y) or Not displayed (N) in for-hire charter trip",
                                    "enum": [
                                        "R",
                                        "Y",
                                        "N"
                                    ],
                                    "type": "string"
                                },
                                "for_hire_hb_flag": {
                                    "description": "indicates if attribute is required (R), optional (Y) or Not displayed (N) in for-hire headboat trip",
                                    "enum": [
                                        "R",
                                        "Y",
                                        "N"
                                    ],
                                    "type": "string"
                                },
                                "rec_flag": {
                                    "description": "indicates if attribute is required (R), optional (Y) or Not displayed (N) in recreational trip",
                                    "enum": [
                                        "R",
                                        "Y",
                                        "N"
                                    ],
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the request",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
[...]
