{
    "openapi": "3.0.2",
    "info": {
        "title": "Unified SAFIS API -Test",
        "version": "1.0.34",
        "description": "**Overview**\n\nThis API is used by remote applications   to communicate with the SAFIS backend database server. It is not intended for any other purpose. This document is intended as a programmer’s reference manual. It is used by both application developers who build a front-end, and the programmers who maintain this   API back-end. \n\nTo request an API key, please contact support@accsp.org. \n",
        "contact": {
            "email": "support@accsp.org"
        },
        "x-logo": {
            "url": "https://raw.githubusercontent.com/accsp-software/spec-unified-api-test/master/docs/accsp_logo.jpg"
        }
    },
    "servers": [
        {
            "url": "https://safis.accsp.org/safis_test/safist/api",
            "description": ""
        }
    ],
    "paths": {
        "/user_permits": {
            "post": {
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/user_permits_request"
                            },
                            "examples": {
                                "fisher_permit_request": {
                                    "value": {
                                        "p_usertype": "FISHER"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips",
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/user_permits_response"
                                },
                                "examples": {
                                    "2_license_example": {
                                        "value": {
                                            "row": [
                                                {
                                                    "license_nbr": "MAFISHER",
                                                    "license_type": "Commercial Fisher",
                                                    "permit_type": "Commercial",
                                                    "agency": "0003",
                                                    "in_use": "Y"
                                                },
                                                {
                                                    "license_nbr": "MAFISHER2",
                                                    "license_type": "For-hire",
                                                    "permit_type": "For-Hire",
                                                    "agency": "0003",
                                                    "in_use": "Y"
                                                }
                                            ],
                                            "status": "OK",
                                            "description": "User: Active Permit Count:0"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "successful response"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "user_permits",
                "description": "This call retrieves a list of fisher or dealer permits for the logged in user with a valid username, password and API key."
            }
        },
        "/trips_download": {
            "post": {
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "description": "output of the endpoint"
                    }
                },
                "summary": "trips_download",
                "description": ""
            }
        },
        "/lookup_list": {
            "post": {
                "requestBody": {
                    "$ref": "#/components/requestBodies/lookup_list_body"
                },
                "tags": [
                    "eTrips",
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lookup_list_responses"
                                }
                            }
                        },
                        "description": "Successful Response"
                    }
                },
                "security": [
                    {
                        "Non-Confidential": [
                        ]
                    }
                ],
                "summary": "lookup_list",
                "description": ""
            }
        },
        "/favorites_download": {
            "post": {
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "favorites_download",
                "description": "call to download a users stored favorites on eTrips online"
            }
        },
        "/lookup_list_date_changed": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/lookup_list_date_changed_request"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips",
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lookup_list_date_changed_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Non-Confidential": [
                        ]
                    }
                ],
                "summary": "lookup_list_date_changed",
                "description": "fetch the last date that the specified lookup table(s) were changed."
            }
        },
        "/neg_reports_upload": {
            "post": {
                "tags": [
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "neg_reports_upload ",
                "description": ""
            }
        },
        "/neg_reports_upload_errors": {
            "post": {
                "tags": [
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "neg_reports_upload_errors ",
                "description": ""
            }
        },
        "/neg_trips_upload_errors": {
            "post": {
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "neg_trips_upload_errors ",
                "description": ""
            }
        },
        "/notification_upload": {
            "post": {
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "notification_upload ",
                "description": ""
            }
        },
        "/participants": {
            "post": {
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "participants ",
                "description": ""
            }
        },
        "/permit_compliance": {
            "post": {
                "tags": [
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "permit_compliance ",
                "description": ""
            }
        },
        "/permit_endorsements": {
            "post": {
                "tags": [
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "permit_endorsements ",
                "description": ""
            }
        },
        "/reports_upload": {
            "post": {
                "tags": [
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "reports_upload ",
                "description": ""
            }
        },
        "/reports_upload_errors": {
            "post": {
                "tags": [
                    "eDR"
                ],
                "responses": {
                    "200": {
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "reports_upload_errors ",
                "description": ""
            }
        },
        "/trips_upload": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/trips"
                            }
                        }
                    }
                },
                "tags": [
                    "eTrips"
                ],
                "parameters": [
                    {
                        "deprecated": false,
                        "example": "AppVersion : 2.2.11232",
                        "name": "AppVersion",
                        "schema": {
                            "type": "string"
                        },
                        "in": "header",
                        "required": true,
                        "x-last-modified": 1589300119228
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/trip_upload_response"
                                }
                            }
                        },
                        "description": "successful upload attempt",
                        "x-last-modified": 1589338696395
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "trips_upload ",
                "description": "send a set of trips rows to safis"
            }
        },
        "/trips_upload_errors": {
            "post": {
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "description": "output of the endpoint",
                        "x-last-modified": 1589338797899
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "trips_upload_errors",
                "description": ""
            }
        },
        "/neg_trips_upload": {
            "summary": "send a set of negative / no fishing trip reports to safis",
            "description": "",
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/neg_trips"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/neg_trips_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "neg_trips_upload ",
                "description": "send a set of negative / no fishing trip reports to safis."
            }
        },
        "/trip_locations": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/locations"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/trip_locations_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Confidential-API": [
                        ]
                    }
                ],
                "summary": "trip_locations",
                "description": "send a set of trip location data rows to safis"
            }
        },
        "/lookup_list_by_attribute": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/lookup_list_attribute_request"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "eTrips"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lookup_list_attribute_response"
                                }
                            }
                        },
                        "description": "output of the endpoint"
                    }
                },
                "security": [
                    {
                        "Non-Confidential": [
                        ]
                    }
                ],
                "summary": "lookup_list_by_attribute",
                "description": "fetch a set of rows for specified attribute lookup list. Used in combination with _additional_attributes lookup_list"
            }
        }
    },
    "components": {
        "schemas": {
            "trip": {
                "description": "trip level information. Either of state_reg_nbr or coast_guard_nbr is required. ",
                "required": [
                    "trip_start_date",
                    "trip_type",
                    "cf_license_nbr",
                    "port",
                    "iss_agency",
                    "supplier_trip_id"
                ],
                "enum": [
                ],
                "type": "object",
                "properties": {
                    "trip_start_date": {
                        "format": "date",
                        "description": "calendar date of beginning of fishing trip. Format MM/DD/YYYY",
                        "type": "string"
                    },
                    "trip_type": {
                        "description": "Trip Type undertaken. Commercial (C), Recreational (R), For Hire-Charter(A), For Hire-Headboat (H)",
                        "enum": [
                            "C",
                            "R",
                            "A",
                            "H"
                        ],
                        "type": "string"
                    },
                    "trip_start_time": {
                        "description": "calendar time of start of fishing trip. Format hh24:mi",
                        "type": "string"
                    },
                    "trip_end_time": {
                        "description": "calendar time of end of fishing trip. Format MM/DD/YYYY",
                        "type": "string"
                    },
                    "vessel_permit": {
                        "description": "Vessel Permit number of vessel in use",
                        "type": "string"
                    },
                    "vtr_number": {
                        "description": "Vessel Trip Report number. Auto-generated by the application",
                        "type": "string"
                    },
                    "trip_activity": {
                        "description": "Indicator for intended/final outcome of fishing trip",
                        "type": "string"
                    },
                    "state_reg_nbr": {
                        "description": "State Registration number of vessel",
                        "type": "string"
                    },
                    "coast_guard_nbr": {
                        "description": "Coast Guard Number/Hull Number of vessel",
                        "type": "string"
                    },
                    "port": {
                        "description": "Landing Port of vessel",
                        "type": "string"
                    },
                    "supplier_trip_id": {
                        "description": "unique trip id given by the caller. Only used to communicate errors and updates.",
                        "type": "string"
                    },
                    "participant_id": {
                        "description": "ACCSP Participant idenitifier.",
                        "type": "string"
                    },
                    "iss_agency": {
                        "description": "4 character identifier of issuing agency of permit in use",
                        "type": "string"
                    },
                    "cf_license_nbr": {
                        "description": "Permit/License Number of Permit in use.",
                        "type": "string"
                    },
                    "efforts": {
                        "description": "",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/effort"
                        }
                    },
                    "trip_additional_attributes": {
                        "description": "",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/attribute"
                        }
                    }
                },
                "x-last-modified": 1589314902665
            },
            "user_permits_response": {
                "description": "",
                "required": [
                ],
                "enum": [
                ],
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "required": [
                            ],
                            "type": "object",
                            "properties": {
                                "license_nbr": {
                                    "description": "Permit/License number given by the issuing agency",
                                    "type": "string"
                                },
                                "license_type": {
                                    "description": "License type as defined by the issuing agency",
                                    "type": "string"
                                },
                                "permit_type": {
                                    "description": "Permit type as defined by ACCSP.",
                                    "enum": [
                                        "For-Hire",
                                        "Commercial",
                                        "Operator",
                                        "Dealer"
                                    ],
                                    "type": "string"
                                },
                                "agency": {
                                    "description": "",
                                    "type": "string"
                                },
                                "in_use": {
                                    "description": "Is the permit currently active?",
                                    "enum": [
                                        "Y",
                                        "N"
                                    ],
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the upload attempt",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "description": "Human readable description of the status reason or failure.",
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "license_nbr": "MAFISHER",
                            "license_type": "Commercial Fisher",
                            "permit_type": "Commercial",
                            "agency": "0003",
                            "in_use": "Y"
                        },
                        {
                            "license_nbr": "MAFISHER2",
                            "license_type": "For-hire",
                            "permit_type": "For-Hire",
                            "agency": "0003",
                            "in_use": "Y"
                        }
                    ],
                    "status": "OK",
                    "description": "User: Active Permit Count:0"
                },
                "x-last-modified": 1589344005031
            },
            "trip_upload_response": {
                "description": "response to successful trips_upload call. ",
                "required": [
                ],
                "enum": [
                ],
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "required": [
                            ],
                            "type": "object",
                            "properties": {
                                "event_id": {
                                    "description": "unique ID of this upload process",
                                    "type": "string"
                                },
                                "upload_date": {
                                    "description": "date the upload was received by server. Format MM/DD/YYYY hh24:mi",
                                    "type": "string"
                                },
                                "process_date": {
                                    "description": "date the server completed processing upload request. Format MM/DD/YYYY hh24:mi",
                                    "type": "string"
                                },
                                "total_count": {
                                    "description": "Number of trips found in the upload",
                                    "type": "string"
                                },
                                "errored_count": {
                                    "description": "Number of trips NOT processed due to one or more errors",
                                    "type": "string"
                                },
                                "trips_accepted": {
                                    "description": "details for accepted trips",
                                    "type": "array",
                                    "items": {
                                        "required": [
                                        ],
                                        "type": "object",
                                        "properties": {
                                            "supplier_trip_id": {
                                                "description": "unique supplier id for supplied to the upload",
                                                "type": "string"
                                            },
                                            "accsp_trip_id": {
                                                "description": "accsp internal identifier for this matching the supplier trip id",
                                                "type": "number"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the upload attempt",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "description": "Human readable description of the status reason or failure.",
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "event_id": "121582",
                            "upload_date": "2018-08-30 12:56:28",
                            "process_date": "12:56:32",
                            "total_count": "2",
                            "errored_count": "0",
                            "trips_accepted": [
                                {
                                    "supplier_trip_id": "0192929",
                                    "accsp_trip_id": 1231213
                                },
                                {
                                    "supplier_trip_id": "0141229",
                                    "accsp_trip_id": 1211213
                                }
                            ]
                        }
                    ],
                    "status": "OK",
                    "description": "UPDATEEVENTSUPLOAD"
                },
                "x-last-modified": 1589339290772
            },
            "user_permits_request": {
                "title": "Root Type for user_permits_request",
                "description": "",
                "required": [
                    "p_usertype"
                ],
                "type": "object",
                "properties": {
                    "p_usertype": {
                        "enum": [
                            "FISHER",
                            "DEALER"
                        ],
                        "type": "string"
                    }
                },
                "example": {
                    "p_usertype": "FISHER"
                }
            },
            "trips": {
                "description": "collection of trip objects. ",
                "required": [
                    "trips"
                ],
                "type": "object",
                "properties": {
                    "trips": {
                        "description": "collection of trips",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/trip"
                        }
                    }
                }
            },
            "effort": {
                "title": "Root Type for effort",
                "description": "",
                "required": [
                    "distance",
                    "in_state",
                    "area_code",
                    "sub_area_code",
                    "gear",
                    "gear_quantity",
                    "fishing_hours"
                ],
                "type": "object",
                "properties": {
                    "distance": {
                        "type": "string"
                    },
                    "in_state": {
                        "type": "string"
                    },
                    "area_code": {
                        "type": "string"
                    },
                    "sub_area_code": {
                        "type": "string"
                    },
                    "local_area_code": {
                        "type": "string"
                    },
                    "latitude": {
                        "type": "string"
                    },
                    "longitude": {
                        "type": "string"
                    },
                    "gear": {
                        "type": "string"
                    },
                    "lma": {
                        "type": "string"
                    },
                    "gear_quantity": {
                        "type": "string"
                    },
                    "gear_sets": {
                        "type": "string"
                    },
                    "fishing_hours": {
                        "type": "string"
                    },
                    "hours_days": {
                        "type": "string"
                    },
                    "total_gear": {
                        "type": "string"
                    },
                    "gear_size": {
                        "type": "string"
                    },
                    "mesh_ring_length": {
                        "type": "string"
                    },
                    "mesh_ring_width": {
                        "type": "string"
                    },
                    "stretch_size": {
                        "type": "string"
                    },
                    "target_species": {
                        "type": "string"
                    },
                    "avg_depth": {
                        "type": "string"
                    },
                    "supplier_effort_id": {
                        "type": "string"
                    },
                    "catches": {
                        "description": "",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/catch"
                        }
                    }
                },
                "example": {
                    "distance": "1",
                    "in_state": "RI",
                    "area_code": "539",
                    "sub_area_code": "0132",
                    "local_area_code": "00",
                    "latitude": "41.4450635115479",
                    "longitude": "-71.3559923529778",
                    "gear": "300",
                    "lma": "",
                    "gear_quantity": "16",
                    "gear_sets": "23",
                    "fishing_hours": "6.0",
                    "hours_days": "H",
                    "total_gear": "0",
                    "gear_size": "",
                    "mesh_ring_length": "",
                    "mesh_ring_width": "",
                    "stretch_size": "",
                    "target_species": "",
                    "avg_depth": "55",
                    "supplier_effort_id": "120119073102827"
                }
            },
            "catch": {
                "title": "Root Type for catch",
                "description": "",
                "type": "object",
                "properties": {
                    "species_itis": {
                        "type": "string"
                    },
                    "disposition": {
                        "type": "string"
                    },
                    "unit_of_measure": {
                        "type": "string"
                    },
                    "market_code": {
                        "type": "string"
                    },
                    "grade_code": {
                        "type": "string"
                    },
                    "reported_quantity": {
                        "type": "string"
                    },
                    "nbr_of_fish": {
                        "type": "string"
                    },
                    "supplier_catch_id": {
                        "type": "string"
                    },
                    "sale_disposition_flag": {
                        "description": "",
                        "type": "string"
                    }
                },
                "example": {
                    "species_itis": "170425",
                    "disposition": "001",
                    "unit_of_measure": "LB",
                    "market_code": "UN",
                    "grade_code": "01",
                    "reported_quantity": "25",
                    "nbr_of_fish": "4",
                    "supplier_catch_id": "6"
                }
            },
            "attribute": {
                "title": "Root Type for attribute",
                "description": "",
                "required": [
                    "code"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    }
                },
                "example": {
                    "code": "040",
                    "value": "Y"
                }
            },
            "attribute_with_units": {
                "title": "Root Type for attribute_with_units",
                "description": "",
                "required": [
                    "code"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    },
                    "units": {
                        "type": "string"
                    }
                },
                "example": {
                    "code": "231",
                    "value": "1233",
                    "units": "CM"
                }
            },
            "attribute_multi_value": {
                "title": "Root Type for attribute_multi_value",
                "description": "",
                "required": [
                    "code"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    },
                    "values": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "units": {
                        "type": "string"
                    }
                },
                "example": {
                    "code": "231",
                    "value": "1233",
                    "values": [
                        "21312",
                        "231231"
                    ],
                    "units": "CM"
                }
            },
            "gears_list_response": {
                "title": "GEARS",
                "description": "GEARS",
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "string"
                                },
                                "desc": {
                                    "type": "string"
                                },
                                "category_code": {
                                    "type": "string"
                                },
                                "category_name": {
                                    "type": "string"
                                },
                                "comm_flag": {
                                    "type": "string"
                                },
                                "for_hire_ch_flag": {
                                    "type": "string"
                                },
                                "for_hire_hb_flag": {
                                    "type": "string"
                                },
                                "rec_flag": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "status": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "code": "077",
                            "desc": "HOOP NET",
                            "category_code": "070",
                            "category_name": "OTHER FIXED NETS",
                            "comm_flag": "Y",
                            "for_hire_ch_flag": "N",
                            "for_hire_hb_flag": "N",
                            "rec_flag": "N"
                        },
                        {
                            "code": "407",
                            "desc": "LONG LINES, DRIFT W/HOOKS",
                            "category_code": "400",
                            "category_name": "LONG LINES",
                            "comm_flag": "Y",
                            "for_hire_ch_flag": "N",
                            "for_hire_hb_flag": "N",
                            "rec_flag": "N"
                        }
                    ],
                    "status": "OK",
                    "description": "2 Gear(s) Returned"
                }
            },
            "attributes_list_response": {
                "title": "ADDITIONAL_ATTRIBUTES",
                "description": "ADDITIONAL_ATTRIBUTES",
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "attribute_code": {
                                    "format": "int32",
                                    "type": "integer"
                                },
                                "attribute_name": {
                                    "type": "string"
                                },
                                "help_text": {
                                    "type": "string"
                                },
                                "order_seq": {
                                    "format": "int32",
                                    "type": "integer"
                                },
                                "attribute_count": {
                                    "type": "string"
                                },
                                "list_type": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "comm_flag": {
                                    "type": "string"
                                },
                                "for_hire_charter_flag": {
                                    "type": "string"
                                },
                                "for_hire_hb_flag": {
                                    "type": "string"
                                },
                                "rec_flag": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "status": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "attribute_code": 3,
                            "attribute_name": "Target Species",
                            "help_text": "Choose one or more targeted species.",
                            "order_seq": 1,
                            "attribute_count": "M",
                            "list_type": "D",
                            "type": "STRING",
                            "comm_flag": "Y",
                            "for_hire_charter_flag": "N",
                            "for_hire_hb_flag": "N",
                            "rec_flag": "N"
                        }
                    ],
                    "status": "OK",
                    "description": "1 Attribute(s) Returned"
                }
            },
            "neg_trip": {
                "title": "Root Type for neg_trip",
                "description": "no-fishing report/negative trip",
                "required": [
                    "cf_license_nbr",
                    "start_date",
                    "supplier_row_id",
                    "iss_agency"
                ],
                "type": "object",
                "properties": {
                    "supplier_row_id": {
                        "description": "unique identifier given by sender. Useful for updating information and retrieving errors. ",
                        "type": "string"
                    },
                    "iss_agency": {
                        "description": "4 digit identification of the issuing agency of permit",
                        "type": "string"
                    },
                    "start_date": {
                        "format": "date",
                        "description": "start date of the negative/no fishing report",
                        "type": "string"
                    },
                    "end_date": {
                        "format": "date",
                        "description": "last date of negative report if a range is being given",
                        "type": "string"
                    },
                    "cf_license_nbr": {
                        "description": "license number given by issuing agency",
                        "type": "string"
                    }
                },
                "example": {
                    "supplier_row_id": "1231231",
                    "iss_agency": "0003",
                    "start_date": "11/22/2015",
                    "end_date": "11/22/2015",
                    "cf_license_nbr": "999999"
                }
            },
            "neg_trips": {
                "description": "An Array of negative trips.",
                "required": [
                    "neg_trips"
                ],
                "type": "object",
                "properties": {
                    "neg_trips": {
                        "description": "Collection of negative trip reports",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/neg_trip"
                        }
                    }
                },
                "example": {
                    "neg_trips": [
                        {
                            "supplier_row_id": "12345611",
                            "iss_agency": "0004",
                            "start_date": "11/22/2017",
                            "end_date": "11/22/2017",
                            "cf_license_nbr": "123456"
                        },
                        {
                            "supplier_row_id": "12345612",
                            "iss_agency": "0004",
                            "start_date": "11/23/2017",
                            "end_date": "11/23/2017",
                            "cf_license_nbr": "123456"
                        }
                    ]
                }
            },
            "neg_trips_response": {
                "title": "Root Type for neg_trips_response",
                "description": "",
                "required": [
                    "status"
                ],
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "event_id": {
                                    "description": "the unique job-id/event_id for this upload assigned by the system",
                                    "type": "string"
                                },
                                "upload_date": {
                                    "format": "date-time",
                                    "description": "when the upload was received",
                                    "type": "string"
                                },
                                "process_date": {
                                    "description": "When the upload was processed.",
                                    "type": "string"
                                },
                                "total_count": {
                                    "description": "total count of neg trip records received.",
                                    "type": "string"
                                },
                                "errored_count": {
                                    "description": "total count of neg trip records that were not processed due to one or more errors.",
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the upload attempt",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "description": "Human readable description of the status reason or failure",
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "event_id": "765841",
                            "upload_date": "2020-04-16 15:12:14",
                            "process_date": "15:12:15",
                            "total_count": "2",
                            "errored_count": "1"
                        }
                    ],
                    "status": "OK",
                    "description": "Total rows inserted 2"
                }
            },
            "lookup_list_responses": {
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/gears_list_response"
                    },
                    {
                        "$ref": "#/components/schemas/attributes_list_response"
                    }
                ],
                "description": "",
                "type": "object"
            },
            "location": {
                "title": "Root Type for location",
                "description": "single location",
                "required": [
                    "latitude",
                    "longitude",
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "latitude": {
                        "description": "latitude in decimal degrees",
                        "type": "string"
                    },
                    "longitude": {
                        "description": "longitude in decimal degrees",
                        "type": "string"
                    },
                    "timestamp": {
                        "format": "date-time",
                        "description": "timestamp in format: YYYYMMDDhh24miss",
                        "type": "string"
                    }
                },
                "example": {
                    "latitude": "43.31238",
                    "longitude": "-70.11428",
                    "timestamp": "20191225131755"
                }
            },
            "locations": {
                "title": "Root Type for locations",
                "description": "",
                "required": [
                    "p_supplier_trip_id",
                    "locations"
                ],
                "type": "object",
                "properties": {
                    "p_supplier_trip_id": {
                        "description": "unique trip id given by the requesting entity",
                        "type": "string"
                    },
                    "p_trip_id": {
                        "description": "ACCSP trip id IF known. ",
                        "type": "string"
                    },
                    "p_vendor_id": {
                        "description": "vendor id of the device sending records",
                        "type": "string"
                    },
                    "p_vessel_cgn": {
                        "description": "US Coast Guard Number/Hull Nmber",
                        "type": "string"
                    },
                    "locations": {
                        "description": "",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/location"
                        }
                    }
                },
                "example": {
                    "p_supplier_trip_id": "55590000003",
                    "p_trip_id": "900000003",
                    "p_vendor_id": "1233345",
                    "p_vessel_cgn": "MS4564AX",
                    "locations": [
                        {
                            "latitude": "43.31238",
                            "longitude": "-70.11428",
                            "timestamp": "20191225131755"
                        },
                        {
                            "latitude": "42.32238",
                            "longitude": "-70.11628",
                            "timestamp": "20191225131845"
                        }
                    ]
                }
            },
            "trip_locations_response": {
                "title": "Root Type for trip_locations_response",
                "description": "",
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "trip_id": {
                                    "description": "ACCSP Trip id of the record that was matched.",
                                    "type": "string"
                                },
                                "supplier_trip_id": {
                                    "description": "Associated supplier_trip that was given in the request.",
                                    "type": "string"
                                },
                                "upload_date": {
                                    "format": "date-time",
                                    "description": "date of upload request.",
                                    "type": "string"
                                },
                                "total_count": {
                                    "description": "Total number of location records that were passed into the upload.",
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the upload attempt",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "description": "Human readable description of the status reason or failure.",
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "trip_id": "900000003",
                            "supplier_trip_id": "55590000003",
                            "upload_date": "2019-12-06 10:25:03",
                            "total_count": "3"
                        }
                    ],
                    "status": "OK",
                    "description": "Total rows inserted 3"
                }
            },
            "lookup_list_attribute_request": {
                "title": "Root Type for lookup_list_attribute_request",
                "description": "",
                "required": [
                    "p_attribute",
                    "p_partner"
                ],
                "type": "object",
                "properties": {
                    "p_partner": {
                        "description": "4 character issuing agency of the attributes list",
                        "type": "string"
                    },
                    "p_attribute": {
                        "description": "attribute code corresponding to attribute_code given by lookup_list",
                        "type": "string"
                    },
                    "p_lastdate": {
                        "format": "date-time",
                        "description": "the earliest date filter for the list request. Format MM/DD/YYYY hh24:mi:ss",
                        "type": "string"
                    }
                },
                "example": {
                    "p_partner": "0018",
                    "p_attribute": "403",
                    "p_lastdate": "12/27/2010 14:45:00 "
                }
            },
            "lookup_list_attribute_response": {
                "title": "Root Type for lookup_list_attribute_response",
                "description": "",
                "required": [
                    "status"
                ],
                "type": "object",
                "properties": {
                    "row": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "description": "return value for this element",
                                    "type": "string"
                                },
                                "desc": {
                                    "description": "display value of element",
                                    "type": "string"
                                },
                                "comm_flag": {
                                    "description": "indicator flag for whether element is needed for Commercial Trip.",
                                    "type": "string"
                                },
                                "for_hire_charter_flag": {
                                    "description": "indicator flag for whether element is needed for For-Hire Charter Trip.",
                                    "type": "string"
                                },
                                "for_hire_hb_flag": {
                                    "description": "indicator flag for whether element is needed for For-Hire Headboat Trip.",
                                    "type": "string"
                                },
                                "rec_flag": {
                                    "description": "indicator flag for whether element is needed for Recreational Trip.",
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the upload attempt",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "description": "Human readable description of the status reason or failure.",
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "code": "031",
                            "desc": "PURSE SEINE, TARP",
                            "comm_flag": "R",
                            "for_hire_charter_flag": "N",
                            "for_hire_hb_flag": "N",
                            "rec_flag": "N"
                        },
                        {
                            "code": "093",
                            "desc": "OTTER TRAWL BOTTOM, LOBSTER",
                            "comm_flag": "Y",
                            "for_hire_charter_flag": "N",
                            "for_hire_hb_flag": "N",
                            "rec_flag": "N"
                        }
                    ],
                    "status": "OK",
                    "description": "Attribute(s) Found"
                }
            },
            "lookup_list_date_changed_request": {
                "title": "Root Type for lookup_list_date_changed_request",
                "description": "",
                "required": [
                    "p_listnames",
                    "p_partner"
                ],
                "type": "object",
                "properties": {
                    "p_partner": {
                        "description": "4 character value of permit issuing agency\n",
                        "type": "string"
                    },
                    "p_listnames": {
                        "description": "One or more list names from:\n\nGEARS,\nGEAR_ATTRIBUTES,\nTRIP_ADDITIONAL_ATTRIBUTES,\nEFFORT_ADDITIONAL_ATTRIBUTES, \nPARTNER_MANAGED_SPECIES, \nDISPOSITION, \nAREASFISHED, \nSPECIES, \nCATCH_SOURCE, \nUSER_NOTIFICATIONS, \nPARTICIPANTS, \nVESSELS,\nSWIPE_CARDS, \nTRIP_ACTIVITY, \nPORTS , \nDEALERS, \nPARTNER_MANAGED_NOTIFICATIONS, \nSALE_DISPOSITIONS_ADDITIONAL_ATTRIBUTES\n",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "example": {
                    "p_partner": "0023",
                    "p_listnames": [
                        "GEARS",
                        "VESSELS",
                        "GEAR_ATTRIBUTES",
                        "TRIP_ADDITIONAL_ATTRIBUTES",
                        "EFFORT_ADDITIONAL_ATTRIBUTES"
                    ]
                }
            },
            "lookup_list_date_changed_response": {
                "title": "Root Type for lookup_list_date_changed_response",
                "description": "",
                "required": [
                    "status"
                ],
                "type": "object",
                "properties": {
                    "row": {
                        "description": "lookup_lists requested",
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "list": {
                                    "description": "listname from p_listnames",
                                    "type": "string"
                                },
                                "last_date": {
                                    "format": "date",
                                    "description": "last modified date of requested list. Format MM/DD/YYYY hh24:mi:ss",
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "status": {
                        "description": "status of the request",
                        "enum": [
                            "OK",
                            "FAIL"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "description": "Human readable description of the status reason or failure.",
                        "type": "string"
                    }
                },
                "example": {
                    "row": [
                        {
                            "list": "GEARS",
                            "last_date": "09/26/2018 16:55:04"
                        },
                        {
                            "list": "VESSELS",
                            "last_date": "09/01/2016 12:44:01"
                        }
                    ],
                    "status": "OK",
                    "description": "Date(s) Found"
                }
            }
        },
        "parameters": {
            "Confidential-Auth": {
                "deprecated": false,
                "example": "Basic dXNlcm5hbWVAbXlhcGlrZXk6cGFzc3dvcmQ=",
                "description": "\n",
                "schema": {
                    "format": "the base64 representation of  username@apikey:password",
                    "pattern": "",
                    "enum": [
                    ],
                    "type": "string",
                    "example": "Basic dXNlcm5hbWVAbXlhcGlrZXk6cGFzc3dvcmQ="
                },
                "in": "header",
                "required": true,
                "properties": "",
                "type": "string",
                "format": "the base64 representation of  username@apikey:password",
                "pattern": "",
                "enum": [
                ]
            },
            "Non-Confidential": {
                "deprecated": false,
                "example": "Basic QG15c2VjcmV0YXBpa2V5",
                "description": "",
                "schema": {
                    "format": "the base64 value of @apikey",
                    "pattern": "",
                    "enum": [
                    ],
                    "type": "string",
                    "example": ""
                },
                "in": "header",
                "required": true,
                "properties": "",
                "type": "string",
                "format": "the base64 value of @apikey",
                "pattern": "",
                "enum": [
                ],
                "x-last-modified": 1589299609834
            }
        },
        "examples": {
            "permit_results": {
                "summary": "Example results  of user_permits",
                "description": "",
                "value": "{\r\n  \"row\": [\r\n    {\r\n      \"license_nbr\": \"MAFISHER\",\r\n      \"license_type\": \"Commercial Fisher\",\r\n      \"permit_type\": \"Commercial\",\r\n      \"agency\": \"0003\",\r\n      \"in_use\": \"Y\"\r\n    },\r\n    {\r\n      \"license_nbr\": \"MAFISHER2\",\r\n      \"license_type\": \"For-hire\",\r\n      \"permit_type\": \"For-Hire\",\r\n      \"agency\": \"0003\",\r\n      \"in_use\": \"Y\"\r\n    }\r\n  ],\r\n  \"status\": \"OK\",\r\n  \"description\": \"User :mafisher Active Permit Count:2\"\r\n}",
                "externalValue": "",
                "type": "",
                "x-last-modified": 1589340218243
            }
        },
        "requestBodies": {
            "lookup_list_body": {
                "description": "Fetch a list of valid values for a specified list noted in p_listname above. Returned as a JSON encoded object. If no rows exist, there will be no data, and status record will indicate zero errors",
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "p_partner",
                                "p_listname"
                            ],
                            "enum": [
                            ],
                            "type": "object",
                            "properties": {
                                "p_partner": {
                                    "description": "4 character value of permit issuing agency",
                                    "type": "string"
                                },
                                "p_listname": {
                                    "description": "Lookup list name being requested",
                                    "enum": [
                                        "GEARS",
                                        "PORTS",
                                        "SPECIES",
                                        "TRIP_ADDITIONAL_ATTRIBUTES",
                                        "EFFORT_ADDITIONAL_ATTRIBUTES",
                                        "VESSELS"
                                    ],
                                    "type": "string"
                                },
                                "p_lastdate": {
                                    "description": "oldest date of changes requested",
                                    "type": "string"
                                }
                            },
                            "example": {
                                "p_partner": "0023",
                                "p_listname": "GEARS",
                                "p_listtype": "EDR",
                                "p_lastdate": "12/27/2010 14:45:00 "
                            }
                        },
                        "example": {
                            "p_partner": "0023",
                            "p_listname": "GEARS",
                            "p_listtype": "EDR",
                            "p_lastdate": "12/27/2010 14:45:00 "
                        },
                        "properties": {
                            "p_partner": {
                                "description": "4 character value of permit issuing agency",
                                "type": "string"
                            },
                            "p_listname": {
                                "description": "Lookup list name being requested",
                                "enum": [
                                    "GEARS",
                                    "PORTS",
                                    "SPECIES",
                                    "TRIP_ADDITIONAL_ATTRIBUTES",
                                    "EFFORT_ADDITIONAL_ATTRIBUTES",
                                    "VESSELS"
                                ],
                                "type": "string"
                            },
                            "p_lastdate": {
                                "description": "oldest date of changes requested",
                                "type": "string"
                            }
                        },
                        "type": "object",
                        "enum": [
                        ],
                        "required": [
                            "p_partner",
                            "p_listname"
                        ]
                    }
                },
                "required": true,
                "x-last-modified": 1589164251848
            },
            "trips_upload_body": {
                "description": "Body of trips upload",
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "trips"
                            ],
                            "enum": [
                            ],
                            "type": "object",
                            "properties": {
                                "trips": {
                                    "description": "Trips taken",
                                    "minItems": 1,
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/trip"
                                    }
                                }
                            }
                        },
                        "properties": {
                            "trips": {
                                "description": "Trips taken",
                                "minItems": 1,
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/trip"
                                }
                            }
                        },
                        "type": "object",
                        "enum": [
                        ],
                        "required": [
                            "trips"
                        ]
                    }
                },
                "required": true,
                "x-last-modified": 1589168037873
            }
        },
        "securitySchemes": {
            "Confidential-API": {
                "scheme": "basic",
                "type": "http",
                "description": "username@apikey:password"
            },
            "Non-Confidential": {
                "scheme": "basic",
                "type": "http",
                "description": "@apikey"
            }
        }
    },
    "tags": [
        {
            "name": "eTrips",
            "description": "eTrips",
            "externalDocs": {

            }
        },
        {
            "name": "eDR",
            "description": "eDR",
            "externalDocs": {

            }
        }
    ],
    "responses": {

    }
}