{"openapi":"3.0.2","info":{"title":"Unified SAFIS API -Test","version":"1.0.10","description":"**Overview**\n\nThis API is used by remote applications   to communicate with the SAFIS backend database server. It is not intended for any other purpose, for example it  does not supply a web-page interface. This document is intended as a programmer’s reference manual. It is used by both application developers who build a front-end, and the programmers who maintain this   API back-end. \n\nTo request an API key, please contact support@accsp.org. \n","x-logo":{"url":"https://safis.accsp.org/i192/accsp/accsp_basic_logo.png"},"license":null,"contact":null},"servers":[{"url":"https://safis.accsp.org/safis_test/safist/api","description":""}],"paths":{"/favorites_download":{"post":{"tags":["eTrips"],"parameters":[{"$ref":"#/components/parameters/Confidential Auth","name":"Authorization"}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"favorites_download ","description":"call to download a users stored favorites on eTrips online"}},"/lookup_list":{"post":{"requestBody":{"$ref":"#/components/requestBodies/lookup_list_body"},"tags":["eTrips","eDR"],"parameters":[{"$ref":"#/components/parameters/Non-Confidential","name":"Authorization"}],"responses":{"successful upload response":{"content":{"application/json":{"example":{"row":[],"status":"OK","description":"row(s) returned"}}},"description":"success","type":""}},"summary":"lookup_list ","description":"","externalDocs":{"url":""}}},"/lookup_list_by_attribute":{"post":{"tags":["eTrips"],"parameters":[{"$ref":"#/components/parameters/Non-Confidential","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"lookup_list_by_attribute ","description":""}},"/lookup_list_date_changed":{"post":{"tags":["eTrips","eDR"],"parameters":[{"$ref":"#/components/parameters/Non-Confidential","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"lookup_list_date_changed ","description":""}},"/neg_reports_upload":{"post":{"tags":["eDR"],"parameters":[{"$ref":"#/components/parameters/Confidential Auth","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_reports_upload ","description":""}},"/neg_reports_upload_errors":{"post":{"tags":["eDR"],"parameters":[{"$ref":"#/components/parameters/Confidential Auth","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_reports_upload_errors ","description":""}},"/neg_trips_upload":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_trips_upload ","description":""}},"/neg_trips_upload_errors":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_trips_upload_errors ","description":""}},"/notification_upload":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"notification_upload ","description":""}},"/participants":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"participants ","description":""}},"/permit_compliance":{"post":{"tags":["eDR"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"permit_compliance ","description":""}},"/permit_endorsements":{"post":{"tags":["eDR"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"permit_endorsements ","description":""}},"/reports_upload":{"post":{"tags":["eDR"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"reports_upload ","description":""}},"/reports_upload_errors":{"post":{"tags":["eDR"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"reports_upload_errors ","description":""}},"/trip_locations":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trip_locations ","description":""}},"/trips_download":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trips_download ","description":""}},"/trips_upload":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true},{"name":"AppVersion","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trips_upload ","description":"send a set of trips rows to safis"}},"/trips_upload_errors":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trips_upload_errors","description":""}},"/user_permits":{"post":{"tags":["eTrips","eDR"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"user_permits","description":"This call retrieves a list of dealer permits for the logged in user with a valid username, password and API key."}}},"components":{"responses":{"200":{"content":{"application/json":{"schema":{"required":["row","status","description"],"enum":[],"type":"object","example":{"row":[],"status":"OK","description":"rows returned"}},"example":{"row":[],"status":"OK","description":"rows returned"},"properties":"","type":"object","enum":[],"required":["row","status","description"]}},"description":"successful_upload"}},"parameters":{"Confidential Auth":{"deprecated":false,"example":"Basic dXNlcm5hbWVAbXlhcGlrZXk6cGFzc3dvcmQ=","description":"\n","schema":{"format":"the base64 representation of  username@apikey:password","pattern":"","enum":[],"type":"string","example":"Basic dXNlcm5hbWVAbXlhcGlrZXk6cGFzc3dvcmQ="},"in":"header","required":true,"properties":"","type":"string","format":"the base64 representation of  username@apikey:password","pattern":"","enum":[]},"Non-Confidential":{"deprecated":false,"example":"Basic QGFwaWtleQ==","name":"","description":"the base64 value of @apikey","in":"header","required":true}},"requestBodies":{"lookup_list_body":{"description":"Fetch a list of valid values for a specified list noted in p_listname above. Returned as a JSON encoded object. If no rows exist, there will be no data, and status record will indicate zero errors","content":{"application/json":{"schema":{"required":["p_partner","p_listname"],"enum":[],"type":"object","properties":{"0":{"0":"{"},"1":{"0":"\r"},"2":{"0":"\n"},"3":{"0":"\t"},"4":{"0":"\""},"5":{"0":"p"},"6":{"0":"_"},"7":{"0":"p"},"8":{"0":"a"},"9":{"0":"r"},"10":{"0":"t"},"11":{"0":"n"},"12":{"0":"e"},"13":{"0":"r"},"14":{"0":"\""},"15":{"0":":"},"16":{"0":" "},"17":{"0":"{"},"18":{"0":"\r"},"19":{"0":"\n"},"20":{"0":"\t"},"21":{"0":"\t"},"22":{"0":"\""},"23":{"0":"d"},"24":{"0":"e"},"25":{"0":"s"},"26":{"0":"c"},"27":{"0":"r"},"28":{"0":"i"},"29":{"0":"p"},"30":{"0":"t"},"31":{"0":"i"},"32":{"0":"o"},"33":{"0":"n"},"34":{"0":"\""},"35":{"0":":"},"36":{"0":" "},"37":{"0":"\""},"38":{"0":"4"},"39":{"0":" "},"40":{"0":"c"},"41":{"0":"h"},"42":{"0":"a"},"43":{"0":"r"},"44":{"0":"a"},"45":{"0":"c"},"46":{"0":"t"},"47":{"0":"e"},"48":{"0":"r"},"49":{"0":" "},"50":{"0":"v"},"51":{"0":"a"},"52":{"0":"l"},"53":{"0":"u"},"54":{"0":"e"},"55":{"0":" "},"56":{"0":"o"},"57":{"0":"f"},"58":{"0":" "},"59":{"0":"p"},"60":{"0":"e"},"61":{"0":"r"},"62":{"0":"m"},"63":{"0":"i"},"64":{"0":"t"},"65":{"0":" "},"66":{"0":"i"},"67":{"0":"s"},"68":{"0":"s"},"69":{"0":"u"},"70":{"0":"i"},"71":{"0":"n"},"72":{"0":"g"},"73":{"0":" "},"74":{"0":"a"},"75":{"0":"g"},"76":{"0":"e"},"77":{"0":"n"},"78":{"0":"c"},"79":{"0":"y"},"80":{"0":"\""},"81":{"0":","},"82":{"0":"\r"},"83":{"0":"\n"},"84":{"0":"\t"},"85":{"0":"\t"},"86":{"0":"\""},"87":{"0":"t"},"88":{"0":"y"},"89":{"0":"p"},"90":{"0":"e"},"91":{"0":"\""},"92":{"0":":"},"93":{"0":" "},"94":{"0":"\""},"95":{"0":"s"},"96":{"0":"t"},"97":{"0":"r"},"98":{"0":"i"},"99":{"0":"n"},"100":{"0":"g"},"101":{"0":"\""},"102":{"0":"\r"},"103":{"0":"\n"},"104":{"0":"\t"},"105":{"0":"}"},"106":{"0":","},"107":{"0":"\r"},"108":{"0":"\n"},"109":{"0":"\t"},"110":{"0":"\""},"111":{"0":"p"},"112":{"0":"_"},"113":{"0":"l"},"114":{"0":"i"},"115":{"0":"s"},"116":{"0":"t"},"117":{"0":"n"},"118":{"0":"a"},"119":{"0":"m"},"120":{"0":"e"},"121":{"0":"\""},"122":{"0":":"},"123":{"0":" "},"124":{"0":"{"},"125":{"0":"\r"},"126":{"0":"\n"},"127":{"0":"\t"},"128":{"0":"\t"},"129":{"0":"\""},"130":{"0":"d"},"131":{"0":"e"},"132":{"0":"s"},"133":{"0":"c"},"134":{"0":"r"},"135":{"0":"i"},"136":{"0":"p"},"137":{"0":"t"},"138":{"0":"i"},"139":{"0":"o"},"140":{"0":"n"},"141":{"0":"\""},"142":{"0":":"},"143":{"0":" "},"144":{"0":"\""},"145":{"0":"L"},"146":{"0":"o"},"147":{"0":"o"},"148":{"0":"k"},"149":{"0":"u"},"150":{"0":"p"},"151":{"0":" "},"152":{"0":"l"},"153":{"0":"i"},"154":{"0":"s"},"155":{"0":"t"},"156":{"0":" "},"157":{"0":"n"},"158":{"0":"a"},"159":{"0":"m"},"160":{"0":"e"},"161":{"0":" "},"162":{"0":"b"},"163":{"0":"e"},"164":{"0":"i"},"165":{"0":"n"},"166":{"0":"g"},"167":{"0":" "},"168":{"0":"r"},"169":{"0":"e"},"170":{"0":"q"},"171":{"0":"u"},"172":{"0":"e"},"173":{"0":"s"},"174":{"0":"t"},"175":{"0":"e"},"176":{"0":"d"},"177":{"0":"\""},"178":{"0":","},"179":{"0":"\r"},"180":{"0":"\n"},"181":{"0":"\t"},"182":{"0":"\t"},"183":{"0":"\""},"184":{"0":"e"},"185":{"0":"n"},"186":{"0":"u"},"187":{"0":"m"},"188":{"0":"\""},"189":{"0":":"},"190":{"0":" "},"191":{"0":"["},"192":{"0":"\r"},"193":{"0":"\n"},"194":{"0":"\t"},"195":{"0":"\t"},"196":{"0":"\t"},"197":{"0":"\""},"198":{"0":"a"},"199":{"0":"v"},"200":{"0":"a"},"201":{"0":"i"},"202":{"0":"l"},"203":{"0":"a"},"204":{"0":"b"},"205":{"0":"l"},"206":{"0":"e"},"207":{"0":"\""},"208":{"0":","},"209":{"0":"\r"},"210":{"0":"\n"},"211":{"0":"\t"},"212":{"0":"\t"},"213":{"0":"\t"},"214":{"0":"\""},"215":{"0":"p"},"216":{"0":"e"},"217":{"0":"n"},"218":{"0":"d"},"219":{"0":"i"},"220":{"0":"n"},"221":{"0":"g"},"222":{"0":"\""},"223":{"0":","},"224":{"0":"\r"},"225":{"0":"\n"},"226":{"0":"\t"},"227":{"0":"\t"},"228":{"0":"\t"},"229":{"0":"\""},"230":{"0":"s"},"231":{"0":"o"},"232":{"0":"l"},"233":{"0":"d"},"234":{"0":"\""},"235":{"0":"\r"},"236":{"0":"\n"},"237":{"0":"\t"},"238":{"0":"\t"},"239":{"0":"]"},"240":{"0":","},"241":{"0":"\r"},"242":{"0":"\n"},"243":{"0":"\t"},"244":{"0":"\t"},"245":{"0":"\""},"246":{"0":"t"},"247":{"0":"y"},"248":{"0":"p"},"249":{"0":"e"},"250":{"0":"\""},"251":{"0":":"},"252":{"0":" "},"253":{"0":"\""},"254":{"0":"s"},"255":{"0":"t"},"256":{"0":"r"},"257":{"0":"i"},"258":{"0":"n"},"259":{"0":"g"},"260":{"0":"\""},"261":{"0":"\r"},"262":{"0":"\n"},"263":{"0":"\t"},"264":{"0":"}"},"265":{"0":","},"266":{"0":"\r"},"267":{"0":"\n"},"268":{"0":"\t"},"269":{"0":"\""},"270":{"0":"p"},"271":{"0":"_"},"272":{"0":"l"},"273":{"0":"a"},"274":{"0":"s"},"275":{"0":"t"},"276":{"0":"d"},"277":{"0":"a"},"278":{"0":"t"},"279":{"0":"e"},"280":{"0":"\""},"281":{"0":":"},"282":{"0":" "},"283":{"0":"{"},"284":{"0":"\r"},"285":{"0":"\n"},"286":{"0":"\t"},"287":{"0":"\t"},"288":{"0":"\""},"289":{"0":"d"},"290":{"0":"e"},"291":{"0":"s"},"292":{"0":"c"},"293":{"0":"r"},"294":{"0":"i"},"295":{"0":"p"},"296":{"0":"t"},"297":{"0":"i"},"298":{"0":"o"},"299":{"0":"n"},"300":{"0":"\""},"301":{"0":":"},"302":{"0":" "},"303":{"0":"\""},"304":{"0":"o"},"305":{"0":"l"},"306":{"0":"d"},"307":{"0":"e"},"308":{"0":"s"},"309":{"0":"t"},"310":{"0":" "},"311":{"0":"d"},"312":{"0":"a"},"313":{"0":"t"},"314":{"0":"e"},"315":{"0":" "},"316":{"0":"o"},"317":{"0":"f"},"318":{"0":" "},"319":{"0":"c"},"320":{"0":"h"},"321":{"0":"a"},"322":{"0":"n"},"323":{"0":"g"},"324":{"0":"e"},"325":{"0":"s"},"326":{"0":" "},"327":{"0":"r"},"328":{"0":"e"},"329":{"0":"q"},"330":{"0":"u"},"331":{"0":"e"},"332":{"0":"s"},"333":{"0":"t"},"334":{"0":"e"},"335":{"0":"d"},"336":{"0":"\""},"337":{"0":","},"338":{"0":"\r"},"339":{"0":"\n"},"340":{"0":"\t"},"341":{"0":"\t"},"342":{"0":"\""},"343":{"0":"t"},"344":{"0":"y"},"345":{"0":"p"},"346":{"0":"e"},"347":{"0":"\""},"348":{"0":":"},"349":{"0":" "},"350":{"0":"\""},"351":{"0":"s"},"352":{"0":"t"},"353":{"0":"r"},"354":{"0":"i"},"355":{"0":"n"},"356":{"0":"g"},"357":{"0":"\""},"358":{"0":"\r"},"359":{"0":"\n"},"360":{"0":"\t"},"361":{"0":"}"},"362":{"0":"\r"},"363":{"0":"\n"},"364":{"0":"}"}},"example":{"p_partner":"0023","p_listname":"GEARS","p_listtype":"EDR","p_lastdate":"12/27/2010 14:45:00 "}},"example":{"p_partner":"0023","p_listname":"GEARS","p_listtype":"EDR","p_lastdate":"12/27/2010 14:45:00 "},"properties":"{\r\n\t\"p_partner\": {\r\n\t\t\"description\": \"4 character value of permit issuing agency\",\r\n\t\t\"type\": \"string\"\r\n\t},\r\n\t\"p_listname\": {\r\n\t\t\"description\": \"Lookup list name being requested\",\r\n\t\t\"enum\": [\r\n\t\t\t\"available\",\r\n\t\t\t\"pending\",\r\n\t\t\t\"sold\"\r\n\t\t],\r\n\t\t\"type\": \"string\"\r\n\t},\r\n\t\"p_lastdate\": {\r\n\t\t\"description\": \"oldest date of changes requested\",\r\n\t\t\"type\": \"string\"\r\n\t}\r\n}","type":"object","enum":[],"required":["p_partner","p_listname"]}},"required":true,"x-last-modified":1589083768508}},"securitySchemes":{"Confidential API ":{"scheme":"Basic","bearerFormat":"","type":"http","description":"username@apikey:password"},"Non-Confidential":{"scheme":"Basic","bearerFormat":"","type":"http","description":"@apikey"}},"schemas":{}},"tags":[{"name":"eTrips","description":"eTrips","externalDocs":{}},{"name":"eDR","description":"eDR","externalDocs":{}}],"responses":{},"security":[],"externalDocs":null}