{"openapi":"3.0.2","info":{"title":"Unified SAFIS API -Test","version":"1.0.10","description":"**Overview**\n\nThis API is used by remote applications   to communicate with the SAFIS backend database server. It is not intended for any other purpose, for example it  does not supply a web-page interface. This document is intended as a programmer’s reference manual. It is used by both application developers who build a front-end, and the programmers who maintain this   API back-end. \n\nTo request an API key, please contact support@accsp.org. \n","x-logo":{"url":"https://safis.accsp.org/i192/accsp/accsp_basic_logo.png"},"license":null,"contact":null},"servers":[{"url":"https://safis.accsp.org/safis_test/safist/api","description":""}],"paths":{"/favorites_download":{"post":{"tags":["eTrips"],"parameters":[{"$ref":"#/components/parameters/Confidential Auth","name":"Authorization"}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"favorites_download ","description":"call to download a users stored favorites on eTrips online"}},"/lookup_list":{"post":{"tags":["eTrips","eDR"],"parameters":[{"$ref":"#/components/parameters/Non-Confidential","name":"Authorization"}],"responses":{"200-sample":{"type":"","description":"","$ref":"#/components/responses/200","x-last-modified":1589164404487}},"summary":"lookup_list ","description":"","externalDocs":{"url":""},"requestBody":{"$ref":"#/components/requestBodies/lookup_list_body"}}},"/lookup_list_by_attribute":{"post":{"tags":["eTrips"],"parameters":[{"$ref":"#/components/parameters/Non-Confidential","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"lookup_list_by_attribute ","description":""}},"/lookup_list_date_changed":{"post":{"tags":["eTrips","eDR"],"parameters":[{"$ref":"#/components/parameters/Non-Confidential","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"lookup_list_date_changed ","description":""}},"/neg_reports_upload":{"post":{"tags":["eDR"],"parameters":[{"$ref":"#/components/parameters/Confidential Auth","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_reports_upload ","description":""}},"/neg_reports_upload_errors":{"post":{"tags":["eDR"],"parameters":[{"$ref":"#/components/parameters/Confidential Auth","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_reports_upload_errors ","description":""}},"/neg_trips_upload":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_trips_upload ","description":""}},"/neg_trips_upload_errors":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_trips_upload_errors ","description":""}},"/notification_upload":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"notification_upload ","description":""}},"/participants":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"participants ","description":""}},"/permit_compliance":{"post":{"tags":["eDR"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"permit_compliance ","description":""}},"/permit_endorsements":{"post":{"tags":["eDR"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"permit_endorsements ","description":""}},"/reports_upload":{"post":{"tags":["eDR"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"reports_upload ","description":""}},"/reports_upload_errors":{"post":{"tags":["eDR"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"reports_upload_errors ","description":""}},"/trip_locations":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trip_locations ","description":""}},"/trips_download":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trips_download ","description":""}},"/trips_upload":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true},{"name":"AppVersion","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trips_upload ","description":"send a set of trips rows to safis"}},"/trips_upload_errors":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trips_upload_errors","description":""}},"/user_permits":{"post":{"tags":["eTrips","eDR"],"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"user_permits","description":"This call retrieves a list of dealer permits for the logged in user with a valid username, password and API key."}}},"components":{"responses":{"200":{"content":{"application/json":{"schema":{"required":[],"enum":[],"type":"object","example":{"row":[],"status":"OK","description":"rows returned"},"properties":{"row":{"description":"an array of values returned","type":"string"},"status":{"description":"status of OK or error is returned","type":"string"},"description":{"description":"additional comments in info returned. Not intended to be parsed","type":"string"}},"description":"lookup list sample response"},"example":{"row":[],"status":"OK","description":"rows returned"},"properties":{"row":{"description":"an array of values returned","type":"string"},"status":{"description":"status of OK or error is returned","type":"string"},"description":{"description":"additional comments in info returned. Not intended to be parsed","type":"string"}},"type":"object","enum":[],"required":[],"description":"lookup list sample response"}},"description":"successful_upload_lookup_list","x-last-modified":1589164341511}},"parameters":{"Confidential Auth":{"deprecated":false,"example":"Basic dXNlcm5hbWVAbXlhcGlrZXk6cGFzc3dvcmQ=","description":"\n","schema":{"format":"the base64 representation of  username@apikey:password","pattern":"","enum":[],"type":"string","example":"Basic dXNlcm5hbWVAbXlhcGlrZXk6cGFzc3dvcmQ="},"in":"header","required":true,"properties":"","type":"string","format":"the base64 representation of  username@apikey:password","pattern":"","enum":[]},"Non-Confidential":{"deprecated":false,"example":"Basic QGFwaWtleQ==","name":"","description":"the base64 value of @apikey","in":"header","required":true}},"requestBodies":{"lookup_list_body":{"description":"Fetch a list of valid values for a specified list noted in p_listname above. Returned as a JSON encoded object. If no rows exist, there will be no data, and status record will indicate zero errors","content":{"application/json":{"schema":{"required":["p_partner","p_listname"],"enum":[],"type":"object","properties":{"p_partner":{"description":"4 character value of permit issuing agency","type":"string"},"p_listname":{"description":"Lookup list name being requested","enum":["GEARS","PORTS","SPECIES","TRIP_ADDITIONAL_ATTRIBUTES","EFFORT_ADDITIONAL_ATTRIBUTES","VESSELS"],"type":"string"},"p_lastdate":{"description":"oldest date of changes requested","type":"string"}},"example":{"p_partner":"0023","p_listname":"GEARS","p_listtype":"EDR","p_lastdate":"12/27/2010 14:45:00 "}},"example":{"p_partner":"0023","p_listname":"GEARS","p_listtype":"EDR","p_lastdate":"12/27/2010 14:45:00 "},"properties":{"p_partner":{"description":"4 character value of permit issuing agency","type":"string"},"p_listname":{"description":"Lookup list name being requested","enum":["GEARS","PORTS","SPECIES","TRIP_ADDITIONAL_ATTRIBUTES","EFFORT_ADDITIONAL_ATTRIBUTES","VESSELS"],"type":"string"},"p_lastdate":{"description":"oldest date of changes requested","type":"string"}},"type":"object","enum":[],"required":["p_partner","p_listname"]}},"required":true,"x-last-modified":1589164251848}},"securitySchemes":{"Confidential API ":{"scheme":"Basic","bearerFormat":"","type":"http","description":"username@apikey:password"},"Non-Confidential":{"scheme":"Basic","bearerFormat":"","type":"http","description":"@apikey"}},"schemas":{}},"tags":[{"name":"eTrips","description":"eTrips","externalDocs":{}},{"name":"eDR","description":"eDR","externalDocs":{}}],"responses":{},"security":[],"externalDocs":null}