{"openapi":"3.0.2","info":{"title":"Unified SAFIS API -Test","version":"1.0.12","description":"**Overview**\n\nThis API is used by remote applications   to communicate with the SAFIS backend database server. It is not intended for any other purpose, for example it  does not supply a web-page interface. This document is intended as a programmer’s reference manual. It is used by both application developers who build a front-end, and the programmers who maintain this   API back-end. \n\nTo request an API key, please contact support@accsp.org. \n","x-logo":{"url":"https://raw.githubusercontent.com/accsp-software/spec-unified-api-test/master/docs/accsp_logo.jpg"},"license":null,"contact":null},"servers":[{"url":"https://safis.accsp.org/safis_test/safist/api","description":""}],"paths":{"/user_permits":{"post":{"tags":["eTrips","eDR"],"parameters":[{"$ref":"#/components/parameters/Confidential Auth","x-last-modified":1589301194666,"name":"Authorization"}],"responses":{"200-successful user permits response":{"type":"","description":"","$ref":"#/components/schemas/user_permits_response","x-last-modified":1589302570016}},"summary":"user_permits","description":"This call retrieves a list of fisher or dealer permits for the logged in user with a valid username, password and API key.","requestBody":{"required":true,"content":{"application/json":{"encoding":"","example":{"p_usertype":"DEALER"},"schema":{"example":{"p_usertype":"DEALER"},"properties":{"p_usertype":{"type":"string","description":"type of permits being requested","enum":["FISHER","DEALER"]}},"type":"object","enum":[],"required":["p_usertype"]},"properties":{"p_usertype":{"type":"string","description":"type of permits being requested","enum":["FISHER","DEALER"]}},"type":"object","enum":[],"required":["p_usertype"]}}}}},"/lookup_list":{"post":{"requestBody":{"$ref":"#/components/requestBodies/lookup_list_body"},"tags":["eTrips","eDR"],"parameters":[{"$ref":"#/components/parameters/Non-Confidential","name":"Authorization"}],"responses":{},"summary":"lookup_list ","description":"","externalDocs":{"url":""}}},"/lookup_list_by_attribute":{"post":{"tags":["eTrips"],"parameters":[{"$ref":"#/components/parameters/Non-Confidential","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"lookup_list_by_attribute ","description":""}},"/lookup_list_date_changed":{"post":{"tags":["eTrips","eDR"],"parameters":[{"$ref":"#/components/parameters/Non-Confidential","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"lookup_list_date_changed ","description":""}},"/trips_upload":{"post":{"requestBody":{"$ref":"#/components/requestBodies/trips_upload_body"},"tags":["eTrips"],"parameters":[{"name":"Authorization","$ref":"#/components/parameters/Confidential Auth","x-last-modified":1589299712965},{"name":"AppVersion","in":"header","example":"AppVersion : 2.2.11232","required":true,"deprecated":false,"x-last-modified":1589300119228}],"responses":{"200":{"type":"","description":"successful upload attempt","content":{"application/json":{"encoding":"","schema":{"$ref":"#/components/schemas/trips upload response"}}},"x-last-modified":1589298240708}},"summary":"trips_upload ","description":"send a set of trips rows to safis"}},"/trips_upload_errors":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","$ref":"#/components/parameters/Confidential Auth","x-last-modified":1589300286998}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trips_upload_errors","description":""}},"/neg_reports_upload":{"post":{"tags":["eDR"],"parameters":[{"$ref":"#/components/parameters/Confidential Auth","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_reports_upload ","description":""}},"/neg_reports_upload_errors":{"post":{"tags":["eDR"],"parameters":[{"$ref":"#/components/parameters/Confidential Auth","name":"Authorization","schema":{"example":""},"required":true,"properties":""}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_reports_upload_errors ","description":""}},"/neg_trips_upload":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","$ref":"#/components/parameters/Non-Confidential","x-last-modified":1589299779103}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_trips_upload ","description":""}},"/neg_trips_upload_errors":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","$ref":"#/components/parameters/Confidential Auth","x-last-modified":1589299803817}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"neg_trips_upload_errors ","description":""}},"/notification_upload":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","$ref":"#/components/parameters/Confidential Auth","x-last-modified":1589299826573}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"notification_upload ","description":""}},"/participants":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","$ref":"#/components/parameters/Non-Confidential","x-last-modified":1589299861497}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"participants ","description":""}},"/permit_compliance":{"post":{"tags":["eDR"],"parameters":[{"name":"Authorization","$ref":"#/components/parameters/Confidential Auth","x-last-modified":1589299901676}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"permit_compliance ","description":""}},"/permit_endorsements":{"post":{"tags":["eDR"],"parameters":[{"name":"Authorization","$ref":"#/components/parameters/Confidential Auth","x-last-modified":1589299931318}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"permit_endorsements ","description":""}},"/reports_upload":{"post":{"tags":["eDR"],"parameters":[{"name":"Authorization","$ref":"#/components/parameters/Confidential Auth","x-last-modified":1589299958252}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"reports_upload ","description":""}},"/reports_upload_errors":{"post":{"tags":["eDR"],"parameters":[{"name":"Authorization","$ref":"#/components/parameters/Confidential Auth","x-last-modified":1589299981394}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"reports_upload_errors ","description":""}},"/trip_locations":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","$ref":"#/components/parameters/Confidential Auth","x-last-modified":1589300002640}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trip_locations ","description":""}},"/trips_download":{"post":{"tags":["eTrips"],"parameters":[{"name":"Authorization","$ref":"#/components/parameters/Confidential Auth","x-last-modified":1589300023197}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"trips_download ","description":""}},"/favorites_download":{"post":{"tags":["eTrips"],"parameters":[{"$ref":"#/components/parameters/Confidential Auth","name":"Authorization"}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"favorites_download ","description":"call to download a users stored favorites on eTrips online"}}},"components":{"schemas":{"trip":{"description":"trip level information","required":["trip_start_date"," trip_type"],"enum":[],"type":"object","properties":{"trip_start_date":{"description":"calendar date of beginning of fishing trip. Format MM/DD/YYYY","type":"string"},"trip_type":{"description":"Trip Type undertaken. Commercial (C), Recreational (R), For Hire-Charter(A), For Hire-Headboat (H)","enum":["C","R","A","H"],"type":"string"},"trip_end_date":{"description":"calendar date of end of fishing trip. Format MM/DD/YYYY","type":"string"}},"example":"","x-last-modified":1589167889631},"trips upload response":{"example":{"row":[{"event_id":"651264","upload_date":"2019-12-16 13:37:57","process_date":"13:38:01","total_count":"1","errored_count":"0","trips_accepted":[{"supplier_trip_id":"120119073102820","accsp_trip_id":66221}]}],"status":"OK","description":"UPDATE EVENTS UPLOAD"},"properties":{"row":{"type":"array","items":{"type":"object","required":[],"properties":{"event_id":{"type":"string","description":"unique ID of this upload process"},"upload_date":{"type":"string","description":"date the upload was received by server. Format MM/DD/YYYY hh24:mi"},"process_date":{"type":"string","description":"date the server completed processing upload request. Format MM/DD/YYYY hh24:mi"},"total_count":{"type":"string","description":"Number of trips found in the upload"},"errored_count":{"type":"string","description":"Number of trips NOT processed due to one or more errors"},"trips_accepted":{"type":"array","description":"details for accepted trips","items":{"type":"object","required":[],"properties":{"supplier_trip_id":{"type":"string","description":"unique supplier id for supplied to the upload"},"accsp_trip_id":{"type":"number","description":"accsp internal identifier for this matching the supplier trip id"}}}}}}},"status":{"type":"string","description":"status of the upload attempt","enum":["OK","FAIL"]},"description":{"type":"string","description":"Human readable description of the status reason or failure."}},"type":"object","enum":[],"required":[],"description":"response to successful trips_upload call. ","x-last-modified":1589299441601},"user_permits_response":{"example":{"row":[{"license_nbr":"MAFISHER","license_type":"Commercial Fisher","permit_type":"Commercial","agency":"0003","in_use":"Y"},{"license_nbr":"MAFISHER2","license_type":"For-hire","permit_type":"For-Hire","agency":"0003","in_use":"Y"}],"status":"OK","description":"User :mafisher Active Permit Count:3"},"properties":{"row":{"type":"array","items":{"type":"object","required":[],"properties":{"license_nbr":{"type":"string","description":"Permit/License number given by the issuing agency"},"license_type":{"type":"string","description":"License type as defined by the issuing agency"},"permit_type":{"type":"string","description":"Permit type as defined by ACCSP.","enum":["For-Hire","Commercial","Operator","Dealer"]},"agency":{"type":"string","description":""},"in_use":{"type":"string","description":"Is the permit currently active?","enum":["Y","N"]}}}},"status":{"type":"string","description":"status of the upload attempt","enum":["OK","FAIL"]},"description":{"type":"string","description":"Human readable description of the status reason or failure."}},"type":"object","enum":[],"required":[],"x-last-modified":1589302341194}},"parameters":{"Confidential Auth":{"deprecated":false,"example":"Basic dXNlcm5hbWVAbXlhcGlrZXk6cGFzc3dvcmQ=","description":"\n","schema":{"format":"the base64 representation of  username@apikey:password","pattern":"","enum":[],"type":"string","example":"Basic dXNlcm5hbWVAbXlhcGlrZXk6cGFzc3dvcmQ="},"in":"header","required":true,"properties":"","type":"string","format":"the base64 representation of  username@apikey:password","pattern":"","enum":[]},"Non-Confidential":{"deprecated":false,"example":"Basic QG15c2VjcmV0YXBpa2V5","description":"","schema":{"format":"the base64 value of @apikey","pattern":"","enum":[],"type":"string","example":"","properties":""},"in":"header","required":true,"properties":"","type":"string","format":"the base64 value of @apikey","pattern":"","enum":[],"x-last-modified":1589299609834}},"requestBodies":{"lookup_list_body":{"description":"Fetch a list of valid values for a specified list noted in p_listname above. Returned as a JSON encoded object. If no rows exist, there will be no data, and status record will indicate zero errors","content":{"application/json":{"schema":{"required":["p_partner","p_listname"],"enum":[],"type":"object","properties":{"p_partner":{"description":"4 character value of permit issuing agency","type":"string"},"p_listname":{"description":"Lookup list name being requested","enum":["GEARS","PORTS","SPECIES","TRIP_ADDITIONAL_ATTRIBUTES","EFFORT_ADDITIONAL_ATTRIBUTES","VESSELS"],"type":"string"},"p_lastdate":{"description":"oldest date of changes requested","type":"string"}},"example":{"p_partner":"0023","p_listname":"GEARS","p_listtype":"EDR","p_lastdate":"12/27/2010 14:45:00 "}},"example":{"p_partner":"0023","p_listname":"GEARS","p_listtype":"EDR","p_lastdate":"12/27/2010 14:45:00 "},"properties":{"p_partner":{"description":"4 character value of permit issuing agency","type":"string"},"p_listname":{"description":"Lookup list name being requested","enum":["GEARS","PORTS","SPECIES","TRIP_ADDITIONAL_ATTRIBUTES","EFFORT_ADDITIONAL_ATTRIBUTES","VESSELS"],"type":"string"},"p_lastdate":{"description":"oldest date of changes requested","type":"string"}},"type":"object","enum":[],"required":["p_partner","p_listname"]}},"required":true,"x-last-modified":1589164251848},"trips_upload_body":{"description":"Body of trips upload","content":{"application/json":{"schema":{"required":["trips"],"enum":[],"type":"object","properties":{"trips":{"description":"Trips taken","minItems":1,"type":"array","items":{"$ref":"#/components/schemas/trip"}}},"example":""},"example":"","properties":{"trips":{"description":"Trips taken","minItems":1,"type":"array","items":{"$ref":"#/components/schemas/trip"}}},"type":"object","enum":[],"required":["trips"]}},"required":true,"x-last-modified":1589168037873}},"securitySchemes":{"Confidential API ":{"scheme":"Basic","bearerFormat":"","type":"http","description":"username@apikey:password"},"Non-Confidential":{"scheme":"Basic","bearerFormat":"","type":"http","description":"@apikey"}},"responses":{}},"tags":[{"name":"eTrips","description":"eTrips","externalDocs":{}},{"name":"eDR","description":"eDR","externalDocs":{}}],"responses":{},"security":[],"externalDocs":null}