{"openapi":"3.0.2","info":{"title":"Unified SAFIS API -Test","version":"2","description":"the standard SAFIS API","x-logo":{"url":"https://safis.accsp.org/i192/accsp/accsp_basic_logo.png"},"license":null,"contact":null},"servers":[{"url":"https://safis.accsp.org/safis_test/safist/api","description":""}],"paths":{"/favorites_download":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"favorites_download","description":""}},"/lookup_list":{"post":{"parameters":[{"schema":{"example":"","properties":""},"required":false,"$ref":"#/components/securitySchemes/Non-Confidential","properties":"","deprecated":false,"name":"Authorization"}],"responses":{"200":{"description":"output of the endpoint","content":{"application/json":{"encoding":""}}}},"description":"fetch a set of rows for a specified lookup table. ","summary":"lookup_list"}},"/lookup_list_by_attribute":{"post":{"parameters":[{"schema":{"example":"","properties":""},"required":true,"properties":"","$ref":"#/components/securitySchemes/Non-Confidential","name":"Authorization"}],"responses":{"200":{"description":"output of the endpoint"}},"description":"","summary":"lookup_list_by_attribute "}},"/lookup_list_date_changed":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":" fetch the last date a specified lookup table was changed","summary":"lookup_list_date_changed"}},"/neg_reports_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":"","summary":"neg_reports_upload "}},"/neg_reports_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":"","summary":"neg_reports_upload_errors "}},"/neg_trips_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":"","summary":"neg_trips_upload "}},"/neg_trips_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":"","summary":"neg_trips_upload_errors "}},"/notification_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":"","summary":"notification_upload "}},"/participants":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":"","summary":"participants "}},"/permit_compliance":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":"","summary":"permit_compliance "}},"/permit_endorsements":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/reports_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":"","summary":"reports_upload "}},"/reports_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":"","summary":"reports_upload_errors "}},"/trip_locations":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":"","summary":"trip_locations "}},"/trips_download":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":"","summary":"trips_download "}},"/trips_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true},{"name":"AppVersion","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":"send a set of trips rows to safis","summary":"trips_upload "}},"/trips_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":"","summary":"fetch a list of errors from trip rows that did not load"}},"/user_permits":{"post":{"parameters":[{"schema":{"example":"","properties":""},"required":true,"properties":"","$ref":"#/components/securitySchemes/Confidential API ","name":"Authorization"}],"responses":{"200":{"description":"output of the endpoint"}},"description":"This call retrieves a list of dealer permits for the logged in user with a valid username, password and API key.","summary":"user_permits"}}},"components":{"securitySchemes":{"Confidential_API ":{"scheme":"Basic","bearerFormat":"","type":"http","description":"username@apikey:password"},"Non_Confidential_API":{"scheme":"Basic","bearerFormat":"","type":"http","description":"@apikey"}},"schemas":{},"responses":{},"parameters":{}},"tags":[],"security":[],"externalDocs":null}