{"openapi":"3.0.2","info":{"title":"Unified SAFIS API -Test","version":"1.0.2","description":"the standard SAFIS API","x-logo":{"url":"https://safis.accsp.org/i192/accsp/accsp_basic_logo.png"},"license":null,"contact":null},"servers":[{"url":"https://safis.accsp.org/safis_test/safist/api","description":"","variables":{}}],"paths":{"/favorites_download":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"summary":"Something else goes here ","description":"here we have a few words."}},"/lookup_list":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/lookup_list_by_attribute":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/lookup_list_date_changed":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/neg_reports_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/neg_reports_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/neg_trips_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/neg_trips_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/notification_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/participants":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/permit_compliance":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/permit_endorsements":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/reports_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/reports_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/trip_locations":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/trips_download":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/trips_upload":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true},{"name":"AppVersion","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/trips_upload_errors":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}},"/user_permits":{"post":{"parameters":[{"name":"Authorization","schema":{},"in":"header","required":true}],"responses":{"200":{"description":"output of the endpoint"}},"description":""}}},"components":{"securitySchemes":{"Confidential API ":{"type":"http","scheme":"Basic","description":"username@apikey:password","bearerFormat":""},"Non-Confidential":{"type":"http","scheme":"Basic","description":"@apikey","bearerFormat":""}},"schemas":{},"responses":{},"parameters":{}},"tags":[],"security":[],"externalDocs":null}